* {
    margin: 0px;
    padding: 0px;
}

.fondo {
    width: 100%;
    margin: 0px;
    height: 10vh;
}

.cabecera {
    border: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

h2 {
    font-family: 'Poppins';
    color: white;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-family: 'Poppins';
}

.safe {
    margin-right: 10px;
    margin-top: 10px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

p {
    color: white;
    margin-top: 15px;
}

#back {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.titulo {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

#none {
    display: none;
}

#ocultar {
    display: none;
}

.ocultar {
    display: none;
}

.contenedor-perfil{
    border-radius: 50%;
    overflow: hidden;
}

.contenedor-perfil > img{
    height: 50px;
}