<div class="fondo">
    <div class="cabecera">
        <div class="back">
            <a (click)="_location.back()">
                <img [src]="src" [id]="id" [alt]="alt">
            </a>
        </div>
        <div class="titulo">
            <h1>{{title}}</h1>
        </div>
        <div class="safe">
            <div class="botones" [id]="id2">
                <p>{{title2}}<p>
            </div>
            <div class="contenedor-perfil">
                <img [src]="src3" [id]="id3">
            </div>
        </div>
    </div>
</div>