* {
    margin: 0px;
    padding: 0px;
}

.fondo {
    width: 100%;
    height: 100%;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.titulo > h1 {
    color: white;
}

a {
    text-decoration: none;
}

.back{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back > a {
    display: flex;
    width: 40%;
    height: 40%;
}

.safe {
    width: 20%;

}

.botones {
    display: flex;
    justify-content: space-between;
}

p {
    color: white;
    margin-top: 15px;
}

#back {
    /* width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px; */
}

.titulo {
    /* position: static; */
    /* left: 50%; */
    /* transform: translate(-50%, 60%); */
    display: flex;
    align-items: center;
}

#none {
    display: none;
}

#ocultar {
    display: none;
}

.ocultar {
    display: none;
}

.contenedor-perfil{
    transform: scale(0.8, 0.8);
    border-radius: 50%;
    overflow: hidden;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-perfil > img{
    border-radius: 50%;

    height: 100%;
}