<div class="bg">
    <div class="row">

        <div class="content">
            <div class="mensajeEntrante">
                <div>
                    <p class="textChatEntrante">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="horaChatEntrante">18:34</p>
                </div>
            </div>
            <div class="mensajeSaliente">
                <div>
                    <p class="textChatSaliente">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="horaChatSaliente">18:34</p>
                </div>
            </div>
            <div class="mensajeSaliente">
                <div>
                    <p class="textChatSaliente">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="horaChatSaliente">18:34</p>
                </div>
            </div>
            <div class="mensajeSaliente">
                <div>
                    <p class="textChatSaliente">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="horaChatSaliente">18:34</p>
                </div>
            </div>
            <div class="mensajeEntrante">
                <div>
                    <p class="textChatEntrante">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="horaChatEntrante">18:34</p>
                </div>
            </div>
            <div class="mensajeEntrante">
                <div>
                    <p class="textChatEntrante">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="horaChatEntrante">18:34</p>
                </div>
            </div>
            <div class="mensajeEntrante">
                <div>
                    <p class="textChatEntrante">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="horaChatEntrante">18:34</p>
                </div>
            </div>
        </div>
    </div>

    <app-header-favoritos class="mobile mobile-header" title="María López" src="..\assets\icons\new-arrow_back.svg"
        src2="..\assets\icons\new-chat_plus.svg" id="back" alt="back" alt2="misChats" id2="ocultar">
    </app-header-favoritos>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>
</div>