* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #F7F9C1;
    height: 80vh;
    margin-top: 10vh;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgperfil {
    border-radius: 200px;
    width: 50px;
}

.mensajeEntrante, .mensajeSaliente{
    padding: 10px 12px;
    width: 70vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.mensajeEntrante {
    background: #689F38;
    border-radius: 12px 12px 12px 0px;
    align-self: flex-start;
    margin-left: 1.5vw;
}

.mensajeSaliente {
    background: #388E3C;
    border-radius: 12px 12px 0px 12px;
    align-self: flex-end;
    margin-right: 1.5vw;
}

.textChatEntrante {
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.textChatSaliente {
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.horaChatEntrante {
    font-weight: normal;
    font-size: 12px;
    color: #F7F9C1;
    margin-left: 200px;
}

.horaChatSaliente {
    font-weight: normal;
    font-size: 12px;
    color: #F7F9C1;
}

.desktop-header,
.mobile-header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #388E3C;
}

.desktop-footer,
.mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.mobile-footer{
    background-color: #388E3C;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-footer > input{
    width: 70vw;
    height: 80%;
    padding: 7px;
    border-radius:15px;
    border: none;
}

button{
    
}

@media only screen and (min-width: 751px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .desktop {
        display: none;
    }

}