* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #F7F9C1;
    height: 80vh;
    margin-top: 10vh;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgperfil {
    border-radius: 200px;
    width: 50px;
}

.mensajeEntrante {
    padding: 10px 12px;
    background: #689F38;
    border-radius: 12px 12px 12px 0px;
    width: 250px;
    order: 1;
    margin-left: 10px;
}

.mensajeSaliente {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 12px;
    background: #388E3C;
    border-radius: 12px 12px 0px 12px;
    width: 250px;
}

.textChatEntrante {
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.textChatSaliente {
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;

}

.horaChatEntrante {
    font-weight: normal;
    font-size: 12px;
    color: #F7F9C1;
    margin-left: 200px;
}

.horaChatSaliente {
    font-weight: normal;
    font-size: 12px;
    color: #F7F9C1;
}

.desktop-header,
.mobile-header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #388E3C;
}

.desktop-footer,
.mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media only screen and (min-width: 751px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .desktop {
        display: none;
    }

}