* {
    margin: 0;
    padding: 0;
}

app-header-favoritos{
    height: 10%;
    background-color: #388E3C;
}

.bg {
    background-color: #F7F9C1;
    /* height: 100%;
    margin-top: 10%;
    overflow-y: scroll; */
}

.content {
    flex: 1 0 auto;
    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
    overflow-y: scroll;
    padding-top: 23%;
    padding-bottom: 30%;

}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensajeEntrante, .mensajeSaliente{
    padding: 10px 12px;
    width: 70vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.mensajeEntrante {
    background: #689F38;
    border-radius: 12px 12px 12px 0px;
    align-self: flex-start;
    margin-left: 3vw;
    margin-right: 30vw;

}

.mensajeSaliente {
    background: #388E3C;
    border-radius: 12px 12px 0px 12px;
    align-self: flex-end;
    margin-right: 1.5vw;
    margin-left: 30vw;
}

.textChatEntrante {
    font-weight: normal;
    color: #FFFFFF;
}

.textChatSaliente {
    font-weight: normal;
    color: #FFFFFF;
}

.horaChatEntrante {
    font-weight: normal;
    color: #F7F9C1;
    margin-left: 200px;
}

.horaChatSaliente {
    font-weight: normal;
    color: #F7F9C1;
}

.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
  }
  
  .desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
  }

.mobile-footer{
    background-color: #388E3C;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-footer > input{
    width: 70vw;
    height: 100%;
    padding: 7px;
    border-radius:15px;
    border: none;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-boton>button {
    padding: 7px;

    height: 50px;
    width: 50px;
    background-color: #27642A;
    justify-items: center;
}

button > img {
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(31deg) brightness(100%) contrast(105%);
}

.contenedor-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-input>input {
    border-radius: 5px;
    border: 1px solid black;
    width: 70vw;
    padding: 4%;
    border: none;
}

.sendComent {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 12%;
    display: grid;
    grid-template-columns: 80vw 20vw;
    background-color: #388E3C;
    align-items: center;
}

@media only screen and (min-width: 751px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .desktop {
        display: none;
    }

}