*{
    margin: 0px;
    padding: 0px;
}

.fondo{
    background-color: #388E3C;
    width: 100%;
    padding-top: 0.5%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

p{
    height: fit-content;
    display: block;
}

.col{
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

span{
    margin: 0px;
}

.logo-fondo{
    display: none;
    position: fixed;
    top: 5%;
    left: 5%;
    background-color: #F7F9C1;
    width: 8vw;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img{
    max-width:300px;
    max-height:300px;
    width: 100%;
    height: 100%;
}

.feather{
    margin: auto;
    width: 3rem;
    height: 3rem;
}

div.active-link{
    color: #F7F9C1;
    transform: scale(1.2, 1.2);

}

@media only screen and (min-width: 650px) {
    svg {
      width: 0%;
      height: 0%;
      display: none;
    }
    img{
        display: none;
    }
    col{
        padding-bottom: 50px;
    }

    .logo-fondo{
        display: block;
    }

    .desktop{
        width: 50%;
        margin: 0 auto;
    }



    .fondo{
        padding-top: 0;
        padding-bottom: 0.5%;
    }
}