* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #F7F9C1;
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
    display: grid;
}

.contenedor-content{
    display: flex;
}

.content {
    margin: auto;
    flex: 1 0 auto;
    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
}

.userstyle {
    display: grid;
    grid-template-columns: 45vw 45vw;
    width: 100vw;
    align-items: center;
    justify-items: flex-start;
    padding: 3vw;
    margin: 0 auto;
}

.contenedor-imagen{
margin: auto;
}

.imgperfil {
    
    border-radius: 50%;
    width: 30vw;
}

.info {
    justify-self: flex-start;
    padding-left: 3vw;
}

.nombre {
    color: #31384F;
    margin: 0;
}

.subtitulo {
    color: #838795;
    margin-top: 1vw;
}

.flecha {
    font-weight: 600;
    color: #388E3C;
    transform: rotate(180deg);
    
}

.filaStyle {
    display: grid;
    grid-template-columns: 45vw 50vw;
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 3vw;
    padding-left: 15vw;
}

.fila {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-bottom: 2vw;
    padding-top: 2vw;
    margin-top: 2vw;
    width: 100vw;
    margin-bottom: 3vw;
    background-color: #F7F9C1;
}

.flecha {
    width: 8vw;
    
}


.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
  }
  
  .desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
  }

@media only screen and (min-width: 770px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 769px) {
    .desktop {
        display: none;
    }

}