.bg{
    background-color: #F7F9C1;
    height: 100vh;
    padding: 0;
}
.header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100px;
    background: #388E3C;
    box-shadow: inset 0px -0.5px 0px #E2E3E4;
}
.headertitle{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
    margin-top: -10px;
}
.headerstyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 40px;
}
.subtitulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.contentCenter{
    display: flex;
    justify-content:center;
    align-items: baseline;
}
.imgperfil{
    border-radius: 200px;
    width: 110px;
    margin-top: 10px;
}
.titlestyle{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 100px;
}
.titlestyle2{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    margin-left: 100px;
}
.titles{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #C2C4CB;
}
.line{
    position: static;
    width: 350px;
    height: 0px;
    left: 0px;
    top: 0px;
    border: 0.5px solid #E2E3E4;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title2{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #5A6072;
    margin-top: 10px;
}
.title3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-left: 20px;
}

.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100vw;
}
.desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
@media only screen and (min-width: 751px) {
    .mobile{
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .desktop{
        display: none;
    }
    
}