<div class="bg">

    <div class="content">
        <div class="contentCenter">
            <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
        </div>
        <div class="titlestyle">
            <p class="titles">información general</p>
        </div>
        <div class="titlestyle2">
            <p class="title2">Nombre y apellido</p>
            <p class="title3">Ernest Forts</p>
        </div>
        <div class="contentCenter">
            <div class="line"></div>
        </div>
        <div class="titlestyle2">
            <p class="title2">Frase</p>
            <p class="title3">Lo mio es leer!</p>
        </div>
        <div class="contentCenter">
            <div class="line"></div>
        </div>
        <div class="titlestyle">
            <p class="titles">cuenta</p>
        </div>
        <div class="titlestyle2">
            <p class="title2">Email</p>
            <p class="title3">ernest.forts@eram.cat</p>
        </div>
        <div class="contentCenter">
            <div class="line"></div>
        </div>
        <div class="titlestyle2">
            <p class="title2">Password</p>
            <p class="title3">************</p>
        </div>
        <div class="contentCenter">
            <div class="line"></div>
        </div>
        <div class="titlestyle">
            <p class="titles">contacto</p>
        </div>
        <div class="titlestyle2">
            <p class="title2">Movil</p>
            <p class="title3">666 66 66 66</p>
        </div>
        <div class="contentCenter">
            <div class="line"></div>
        </div>
        <div class="titlestyle2">
            <p class="title2">Telefono</p>
            <p class="title3">+34 987 87 87 87</p>
        </div>
        <div class="contentCenter">
            <div class="line"></div>
        </div>
        <div class="titlestyle2">
            <p class="title2">Email</p>
            <p class="title3">ernest.forts@eram.cat</p>
        </div>
        <div class="contentCenter">
            <div class="line"></div>
        </div>
    </div>
</div>

<app-header-libros class="mobile mobile-header"></app-header-libros>
<app-footer class="desktop-header desktop"></app-footer>
<app-footer class="mobile mobile-footer"></app-footer>
<app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>