<div class="bg">

    <div class="content">

        <div class="row imagen">
            <img class="imgperfil" src="{{user.Foto}}" alt="">
        </div>

        <div class="info">
            <div id="parte1" class="row">
                <div class="row separado">
                    <div class="contenedor-boton">
                        <button class="boton" [routerLink]="['edit']">Editar</button>
                    </div>
                    <div class="titlestyle">
                        <h4 class="titles">información general</h4>
                    </div>
                </div>
                <div class="row separado">
                    <div class="row">
                        <h4 class="title2">Nombre y apellido</h4>
                    </div>
                    <div class="row">
                        <h3 class="title3">{{user.Nombre}}</h3>
                    </div>
                </div>
                <div>
                    <div class="line"></div>
                </div>
                <div class="row separado">
                    <div class="row">
                        <h4 class="title2">Frase</h4>
                    </div>
                    <div class="row">
                        <h3 class="title3">{{user.Frase}}</h3>
                    </div>
                </div>
                <div>
                    <div class="line"></div>
                </div>
            </div>
            <div id="parte2" class="row">
                <div class="row separado">
                    <div class="titlestyle">
                        <h4 class="titles">Contacto</h4>
                    </div>
                </div>
                <div class="row separado">
                    <div class="row">
                        <h4 class="title2">Teléfono</h4>
                    </div>
                    <div class="row">
                        <h3 class="title3">{{user.Telefono}}</h3>
                    </div>
                </div>
                <div>
                    <div class="line"></div>
                </div>
                <div class="row separado">
                    <div class="row">
                        <h4 class="title2">Email</h4>
                    </div>
                    <div class="row">
                        <h3 class="title3">{{user.Email}}</h3>
                    </div>
                </div>
                <div>
                    <div class="line"></div>
                </div>
            </div>
            <div id="parte3" class="row">
                <div class="row separado">
                    <div class="titlestyle">
                        <h4 class="titles">Ranking</h4>
                    </div>
                </div>
                <div class="row separado">
                    <div class="row">
                        <h4 class="title2">Puntos</h4>
                    </div>
                    <div class="row">
                        <h3 class="title3">{{user.ranking}}pt</h3>
                    </div>
                </div>
                <div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" title="Perfil" src="..\assets\icons\new-arrow_back.svg"
        id="back" alt="back"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>