<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
    <div class="madre">
        <div class="row">
            <div id="contenedor">
                <div class="">
                    <div class="busqueda">
                        <h3>Favoritos</h3>
                    </div>
                    <div class="col content" *ngFor="let lugar of lugaresFav;">
                        <div class="card" routerLink="/mapa/detalle"
                            (click)="sendValueIdDetail(lugar.Nombre, lugar.Descripcion, lugar.Foto, lugar.latitud, lugar.longitud, lugar.tieneLibro, lugar.Lugar_id, lugar.PuntosTotales, lugar.VecesPuntuado)">
                            <div class="part2">
                                <div class="col col-imagen d-flex">
                                    <div class="imagen">
                                        <img [src]="lugar.Foto" class="" alt="...">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="row nombre">
                                        <h4><b>{{lugar.Nombre}}</b></h4>
                                    </div>
                                    <div class="row descripcion">
                                        <h4>{{lugar.Descripcion}}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="estrellas">
                                            <ng-container *ngFor="let star of stars;">
                                                <app-star [starId]="star" rating="{{lugar.puntuacion}}"></app-star>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="noBooks" *ngIf="noBooks">
                        <h1><b>Aún no tienes lugares favoritos</b></h1>
                    </div>
                </div>
            </div>
        </div>
        <app-header-favoritos class="mobile mobile-header" title="Favoritos" src="..\assets\icons\new-arrow_back.svg"
            id="back" alt="back" id2="ocultar" id3="ocultar"></app-header-favoritos>
        <app-footer class="desktop-header desktop"></app-footer>
        <app-footer class="mobile mobile-footer"></app-footer>
        <app-footer-login class="desktop-footer desktop"></app-footer-login>

    </div>