<div>
    <div>
        <div class="row">
            <div id="contenedor">
                <div class="col col-desktop">
                    <div class="row desktop-row align-items-end desktop">
                        <div class="col-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="Iconly/Light/Arrow - Left 2">
                                    <g id="Arrow - Left 2">
                                        <path id="Stroke 1" d="M15.5 19L8.5 12L15.5 5" stroke="#388E3C"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col favoritos">
                            <h6>Favoritos</h6>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>

                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-header-lugares-favoritos class="mobile mobile-header"></app-header-lugares-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>