<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
    <div class="madre">
        <div class="row">
            <div id="contenedor">
                <div class="">
                    <div class="busqueda">
                        <h3>Favoritos</h3>
                    </div>
                    <div class="col content">
                        <div class="card">
                            <div class="part2">
                                <div class="col col-imagen d-flex">
                                    <div class="imagen">
                                        <img src="https://content.skyscnr.com/m/3e470eec55b19a41/original/GettyImages-528314677.jpg?resize=1800px:1800px&quality=100"
                                                                                class="" alt="...">
                                    </div>
                                    
                                </div>
                                <div class="col info">
                                    <div class="row nombre">
                                        <h4><b>Nombre del lugar</b></h4>
                                    </div>
                                    <div class="row descripcion">
                                        <h4>Frase del lugar para poder encontrar el libro.</h4>
                                    </div>
                                    <div class="row">
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text"></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text"></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text"></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text"></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="part2">
                                <div class="col col-imagen d-flex">
                                    <div class="imagen">
                                        <img src="https://homeexchange-es.ghost.io/es/blog/content/images/2015/06/torre-eiffel.jpg"
                                                                                class="" alt="...">
                                    </div>
                                    
                                </div>
                                <div class="col info">
                                    <div class="row nombre">
                                        <h4><b>Nombre del lugar</b></h4>
                                    </div>
                                    <div class="row descripcion">
                                        <h4>Frase del lugar para poder encontrar el libro.</h4>
                                    </div>
                                    <div class="row">
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text"></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text"></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text"></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text"></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="part2">
                                <div class="col col-imagen d-flex">
                                    <div class="imagen">
                                        <img src="https://asset4.zankyou.com/images/mag-card-c/2b7/2f08/878/623/-/es/wp-content/uploads/2018/12/ronda.jpg"
                                        class="" alt="...">
                                    </div>
                                    
                                </div>
                                <div class="col info">
                                    <div class="row nombre">
                                        <h4><b>Nombre del lugar</b></h4>
                                    </div>
                                    <div class="row descripcion">
                                        <h4>Frase del lugar para poder encontrar el libro.</h4>
                                    </div>
                                    <div class="row">
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text"></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text"></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text"></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text"></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="part2">
                                <div class="col col-imagen d-flex">
                                    <div class="imagen">
<img src="https://images.squarespace-cdn.com/content/v1/5a86b05bcf81e0af04936cc7/1551565481495-NEIX3SVOZ11IZHCRJ0N1/ke17ZwdGBToddI8pDm48kAGx3IFADtt9koaOuly55F57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0pTKqSDRwmMK43IUI3HojJX_iGOyvGz0VEAhzFdMwNTUP3iYIRpjRWHZRVGJwIQ0nA/los-pueblos-mas-bonitos-de-espana-alcala-del-jucar.jpg"
                                        class="" alt="...">
                                    </div>
                                    
                                </div>
                                <div class="col info">
                                    <div class="row nombre">
                                        <h4><b>Nombre del lugar</b></h4>
                                    </div>
                                    <div class="row descripcion">
                                        <h4>Frase del lugar para poder encontrar el libro.</h4>
                                    </div>
                                    <div class="row">
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text"></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text"></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text"></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text"></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="part2">
                                <div class="col col-imagen d-flex">
                                    <div class="imagen">
<img src="https://www.hola.com/imagenes/viajes/20190314138965/lugares-bonitos-belgica/0-658-681/lugares-mas-bonitos-belgica-m.jpg"
                                        class="" alt="...">
                                    </div>
                                    
                                </div>
                                <div class="col info">
                                    <div class="row nombre">
                                        <h4><b>Nombre del lugar</b></h4>
                                    </div>
                                    <div class="row descripcion">
                                        <h4>Frase del lugar para poder encontrar el libro.</h4>
                                    </div>
                                    <div class="row">
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text"></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text"></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text"></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text"></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-header-lugares-favoritos class="mobile mobile-header"></app-header-lugares-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>