<div class="bg">
    <div class="content">
        <div class="cardPerson card1">
            <div>
                <a href="https://www.linkedin.com/in/hector-realpe/"><img class="imgperfil" src="..\assets\pics\hector.jpg" alt="Héctor"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <h6 class="">Héctor Realpe</h6>
                </div>
                <div class="subtitulo">
                    <h6 class="">Developer full stack</h6>
                </div>
            </div>
        </div>
        <div class="cardPerson card2">
            <div>
                <a href="https://joba.es"><img class="imgperfil" src="..\assets\pics\joba.jpg" alt="Joba"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <h6 class="">Joba López</h6>
                </div>
                <div class="subtitulo">
                    <h6 class="">Developer full stack</h6>
                </div>
            </div>
        </div>


        <div class="cardPerson card3">
            <div>
                <a href="https://www.linkedin.com/in/pau-barbolla-497989134/"><img class="imgperfil"
                        src="..\assets\pics\pau.jpg" alt="Pau"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <h6 class="">Pau Barbolla</h6>
                </div>
                <div class="subtitulo">
                    <h6 class="">Developer full stack</h6>
                </div>
            </div>
        </div>
        <div class="cardPerson card4">
            <div>
                <a href="https://ernestforts.com"><img class="imgperfil" src="..\assets\pics\ernest.png"
                        alt="Ernest"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <h6 class="">Ernest Forts</h6>
                </div>
                <div class="subtitulo">
                    <h6 class="">Developer full stack</h6>
                </div>
            </div>
        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" src="..\assets\icons\new-arrow_back.svg" title="Developers"
        id="back" alt="back" id2="ocultar"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer-vacio class="mobile mobile-footer"></app-footer-vacio>
    <app-footer-login class="desktop-footer desktop"></app-footer-login>
</div>