<div class="bg">
    <div class="content">
        <div class="cardPerson">
            <div>
                <a href="https://joba.es"><img class="imgperfil" src="..\assets\pics\hector.jpg" alt="Héctor"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <p class="">Héctor Realpe</p>
                </div>
                <div class="subtitulo">
                    <p class="">Developer full stack</p>
                </div>
            </div>
        </div>
        <div class="cardPerson">
            <div>
                <a href="https://joba.es"><img class="imgperfil" src="..\assets\pics\joba.jpg" alt="Joba"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <p class="">Joba López</p>
                </div>
                    <div class="subtitulo">
                <p class="">Developer full stack</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="cardPerson">
            <div>
                <a href="https://www.linkedin.com/in/pau-barbolla-497989134/"><img class="imgperfil" src="..\assets\pics\pau.jpg" alt="Pau"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <p class="">Pau Barbolla</p>
                </div>
                <div class="subtitulo">
                    <p class="">Developer full stack</p>
                </div>
            </div>
        </div>
        <div class="cardPerson">
            <div>
                <a href="https://ernestforts.com"><img class="imgperfil" src="..\assets\pics\ernest.png" alt="Ernest"></a>
            </div>
            <div class="row">
                <div class="nombre">
                    <p class="">Ernest Forts</p>
                </div>
                    <div class="subtitulo">
                <p class="">Developer full stack</p>
                </div>
            </div>
        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" src="..\assets\icons\new-arrow_back.svg" title="Developers" id="back" alt="back" id2="ocultar"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer-vacio class="mobile mobile-footer"></app-footer-vacio>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>
</div>
