<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

<div class="contenedor">
    <app-header-favoritos title="Configuracion" src="..\assets\icons\new-arrow_back.svg" id="back" alt="back" id2="ocultar" id3="ocultar"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <div class="contenido">
        <div class="account">
            <p>Account Settings</p>
            <div class="vertical-menu">
                <div class="menuItem1">
                    <a routerLink="/perfil" class="effect effect-1">Información Personal</a>
                    <i class="fa fa-chevron-circle-right hvr-icon arrow"></i>
                </div>
                <div class="menuItem1">
                    <a routerLink="/perfil">Notificaciones</a>
                    <i class="fa fa-chevron-circle-right hvr-icon arrow"></i>
                </div>
                
              </div>
        </div>
        <div class="espacio">
        </div>
        <div class="legal">
            <p>Legal</p>
            <div class="vertical-menu">
                <div class="menuItem1">
                    <a routerLink="/nosotros" class="active hvr-icon-forward">Creadores de la App</a>
                    <i class="fa fa-chevron-circle-right hvr-icon arrow"></i>
                </div>
              </div>
        </div>
        <div class="logout" routerLink="/nosotros">
            <div class="vertical-menu">
                <div class="menuItem1">
                    <a (click)="onLogout()" class="active hvr-icon-forward">Cerrar sesión</a>
                    <i class="fa fa-chevron-circle-right hvr-icon arrow"></i>
                </div>
              </div>
        </div>
    </div>
    <app-footer-vacio></app-footer-vacio>
</div>
