*{
    margin: 0;
}

.contenedor{
    height: 80vh;
    margin-top: 10vh;
    overflow-y: scroll;
}

.contenido{
    padding-top: 10vw;
    background-color: rgba(247, 249, 193, 1);
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100vw;
  }

.account{
    width: 100%;
    /* max-height: 100vh; */
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    padding-left: 5vh;    
}

.espacio{
    height: 35vh;
}

.legal{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    padding-left: 5vh;
}

.logout{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    padding-left: 5vh;
    padding-top: 15px;
    color: red;
}

.logout a{
    color: red;
}

p{
    color: #a2a4a8;
}

.vertical-menu{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.menuItem1{
    height: 44px;
    background: #F7F9C1;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Borders/0.5 dp/bottom */
    box-shadow: inset 0px -0.5px 0px #E2E3E4;
    justify-content: space-between;
}

a{    
    width: 100%;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;

    color: #31384F;
}

.menuItem1:hover{
    box-shadow: inset 0px -0.5px 0px black;
    cursor: pointer;
}

app-footer-vacio{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

app-header-favoritos{
    position: fixed;
    top: 0;
    width: 100vw;
}

@media only screen and (min-width: 770px) {
    .mobile{
      display: none;
    }

}

@media only screen and (max-width: 769px) {
    .desktop{
      display: none;
    }

    /* .account{
        width: 100%;
        max-height: 100vh;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 8vh;
        padding-left: 5vh;    
    } */
  }