<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

<div class="contenedor">
    <app-header-favoritos class="mobile-header" title="Configuracion" src="..\assets\icons\new-arrow_back.svg" id="back" alt="back" id2="ocultar" id3="ocultar"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <div class="contenido">
        <div class="account">
            <h4>Ajustes de cuenta</h4>
            <div class="vertical-menu">
                <div class="menuItem1">
                    <a routerLink="/perfil/mi-perfil" class="effect effect-1"><h4>Información Personal</h4></a>
                    <i class="fa fa-chevron-circle-right hvr-icon arrow"></i>
                </div>                
              </div>
        </div>
        <div class="espacio">
        </div>
        <div class="legal">
            <h4>Nosotros</h4>
            <div class="vertical-menu">
                <div class="menuItem1">
                    <a routerLink="/nosotros" class="active hvr-icon-forward"><h4>Creadores de la App</h4></a>
                    <i class="fa fa-chevron-circle-right hvr-icon arrow"></i>
                </div>
              </div>
        </div>
        <div class="logout" routerLink="/nosotros">
            <div class="vertical-menu">
                <div class="menuItem1">
                    <a (click)="onLogout()" class="active hvr-icon-forward"><h4>Cerrar sesión</h4></a>
                    <i class="fa fa-chevron-circle-right hvr-icon arrow"></i>
                </div>
              </div>
        </div>
    </div>
    <app-footer-vacio></app-footer-vacio>
</div>
