* {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    overflow-y: scroll;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31.1px;
    text-align: center;
    color: #979797;
    margin-top: 10px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 35px;
    position: relative;
    z-index: 2;
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17.3px;
    margin-top: 15px;
    color: #979797;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}

.formDiv {
    width: 95%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.formFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.footer a {
    color: red;
}

input {
    background: #FFFFFF;

    margin-top: 30px;

    width: 310px;
    height: 46px;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4.8px;

    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;

    padding-left: 7px;
}

.loginButton {

    margin-top: 55px;
    align-items: center;
    width: 255px;
    height: 46px;

    /* Global/03. Success */

    background: rgba(40, 167, 69, 0.5);
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.registerButton {

    margin-top: 10px;
    align-items: center;
    width: 255px;
    height: 46px;

    /* Global/03. Success */

    background: rgba(40, 167, 69, 0.5);
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mobileRegister {
    display: none;
}

@media only screen and (max-width: 1019px) {
    .formDiv {
        max-width: 50%;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .outletContent {
        margin-top: 10vh;
    }

    .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        min-height: 100%;
    }

    .footer {
        display: none;
    }


}

@media only screen and (max-width: 1200px) {
    .formDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 30%;
        min-height: 100%;
        align-content: center
    }

    .outletContent {
        margin-top: 13vh;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        min-height: 100%;
    }

    .title {
        margin-top: -90px;
    }

    .mobileRegister {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-top: 10px;
    }

    .forgotLink {
        color: red;
    }

    #registerTitle {
        display: none;

    }

    #registerButton {
        display: none;
    }

    .registerLink {
        text-decoration: none;
        color: rgba(39, 100, 42, 1);
    }

    .loginButton {

        margin-top: 40px;
        align-items: center;
        width: 255px;
        height: 46px;

        /* Global/03. Success */

        background: rgba(104, 159, 56, 1);

        border: none;
        border-radius: 4px;
        color: #FFFFFF;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    }

    .footer {
        display: none;
    }


}