<div class="outletContent">
    <div class="logo">
        <img src="../../../assets/pics/logo.png" alt="logo">
    </div>
    <div class="title">
        <h2>Recupera contraseña</h2>
    </div>
    
    <div class="contenedor">
        <div class="formDiv">
            <form [formGroup]="formForgot" (ngSubmit)="onSubmit()" class="formFlex">
                <div>
                    <input id="password" formControlName="txtPassword" type="password" style="margin-top: 20px;" placeholder="password">
                    <span id="spanPassword" [ngClass]="isVisible" (click)="toggle('password','spanPassword')"></span>
                </div>
                <div>
                    <input id="Repassword" formControlName="txtRePassword" type="password" style="margin-top: 20px;" placeholder="repite el password">
                    <span id="spanRepassword" toggle="#txtRePassword" [ngClass]="isVisible" (click)="toggle('Repassword','spanRepassword')"></span>
                </div>   
        
                <button type="submit" class="loginButton">Cambiar contraseña</button>
            </form>
        </div>       
    </div>

</div>

