*{
    margin: 0px;
    padding: 0px;
    height: 10vh;
}
.fondo{
    background-color: #388E3C;
    width: 100%;
    margin: 0px;
}

.cabecera {
    border: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

h3 {
    font-family: 'Poppins';
    color: white;
    margin-top: 15px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    font-family: 'Poppins';
}

.safe {
    margin-right: 10px;
    margin-top: 10px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

#back {
    width: 30px; 
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

.esquina {
    display: flex;
}

#plus {
    width: 40px; 
    height: 40px;
}
