<div>
    <div>
        <div class="row">
            <div id="contenedor">
                <div class="col col-desktop">
                    <div class="row desktop-row align-items-end desktop">
                        <div class="col-1" routerLink="./lugares-favoritos">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-bookmark">
                                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                            </svg>
                        </div>
                        <div class="col lugares-favoritos" routerLink="./lugares-favoritos">
                            <h6>Lugares favoritos</h6>
                        </div>
                        <div class="col nuevo-lugar" routerLink="./nuevo-lugar">
                            <h6>Nuevo lugar</h6>
                        </div>
                        <div class="col-1" routerLink="./nuevo-lugar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>

                    <div class="row">
                        <div class="contenedor-mapa">
                            <div id="mapa"></div>
                            <div id="popup" class="ol-popup">
                                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                                <div routerLink="/mapa/detalle"
                                    (click)="sendValueIdDetail(info.nombre, info.descripcion, info.foto, info.latitud, info.longitud, info.tieneLibro, info.lugar_id)">

                                    <div class="popup-content">
                                        <h6 class="popup-content"><b>{{this.info.nombre}}</b></h6>
                                        <h6 class="popup-content tieneLibro"
                                            *ngIf="info.tieneLibro == true; else elseBlock"><b>Libro
                                                disponible.</b></h6>
                                        <ng-template #elseBlock>
                                            <h6 class="popup-content noTieneLibro"><b>No hay libro disponible.</b></h6>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-header-mapas class="mobile mobile-header" title="Mapa" src="..\assets\icons\new-map_fav.svg"
        src2="..\assets\icons\new-location_add.svg" id="plus" alt="mapMark" alt2="newPlace" router1="/mapa/favoritos"
        router2="/mapa/nuevo"></app-header-mapas>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>
</div>