<div>
    <app-header-mapas class="mobile"></app-header-mapas>
    <app-footer id="footer" class="desktop"></app-footer>
    <div>
        <div class="row">
            <div id="contenedor">
                <div class="col col-desktop">
                    <div class="row desktop align-items-end">
                        <div class="col-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-bookmark">
                                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                            </svg>
                        </div>
                        <div class="col lugares-favoritos">
                            <h6>Lugares favoritos</h6>
                        </div>
                        <div class="col nuevo-lugar">
                            <h6>Nuevo lugar</h6>
                        </div>
                        <div class="col-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </div>
                    </div>

                    <div class="row">
                        <div id="mapa"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-footer id="footer" class="mobile"></app-footer>
    <app-footer-vacio class="desktop"></app-footer-vacio>

</div>