*{
  margin: 0;
  padding: 0;
}

#contenedor{
  background-color: #F7F9C1;
  height: 100%;
  padding: 0;
}

.contenedor-mapa{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: ;

}

#mapa {
  background-color: #B9BB91;
  height: 100%;
  width: 100%;
}

.desktop-header, .mobile-header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}

.desktop-footer, .mobile-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.col-desktop{
  padding-top: 5rem;
}

.lugares-favoritos{
  text-align: right;
  padding-right: 10px;
}

.nuevo-lugar{
  text-align: right;
  padding-right: 6px;
}

.col-1{
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  text-align: center;
}

svg{
  margin: auto;
  width: 2vw;
  height: auto;
}

.ol-popup {
  position: absolute;
  display: flex;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 0px;
  left: -50px;
  width: 40vw;
}

.ol-popup-content > .contenedor-foto{
  border-radius: 2vw;
  overflow: hidden;
  height: 20vw;
  width: 40vw;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
  color: #388E3C;

}

.tieneLibro {
  color: #388E3C;
}

.noTieneLibro {
  color: #b12f27;

}

@media only screen and (min-width: 700px) {
    .mobile{
      display: none;
    }

    .padre{
      margin-left: 17vw;
    }


    #mapa{
      width: 80%;
      height: 60%;
      padding: 10px;
    }

    #contenedor{
      padding-top: 15vw;
    }

    .col-desktop{
      padding-top: 0;
    }

    .desktop-row{
      width: 45%;
      margin: 0 auto;
    }

    h6 {
      color: #1D231E;
    }

    #fav-plus {
      height: 8vw;
      width: 8vw;
    }

}

@media only screen and (max-width: 700px) {
  .desktop{
    display: none;
  }

  #mapa {
    padding: 0;
    margin: 0;
  }

  .col-desktop{
    padding-top: 0;
  }
}