<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
    <div class="madre">
        <div class="">
            <div id="contenedor">
                    <div class="content" *ngFor="let chat of chatRooms; let i = index;">
                        <div class="usuario" routerLink="/perfil/chat" (click)="sendChatRoomDetail(chat.user_id_origen, chat.user_id_destino, chat.id_chatRoom, chat.Nombre, chat.Email, chat.Foto)">
                            <div class="userstyle">
                                <div>
                                    <img class="imgperfil" [src]="chat.Foto" alt="">
                                </div>
                                <div class="info">
                                    <h4 class="nombre"><b>{{chat.Nombre}}</b></h4>
                                </div>
                                <div>
                                    <img class="logo" src="..\assets\pics\logo.png" alt="">
                                    <!-- <div class="row caja-burbuja">
                                        <div class="burbuja">
                                            <p></p>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" title="Chats" src="..\assets\icons\new-arrow_back.svg" src2="..\assets\icons\new-chat_plus.svg" id="back" alt="back" alt2="misChats" id2="ocultar"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>