* {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 40px;
    color: #689F38;
}

.nombre > h4, .mensaje > h4{
    font-size: 5vw;
}

.hora{
    text-align: center;
}
.hora > p {
    font-size: 4vw;
}

.caja-burbuja{
    align-items: center;
    justify-content: center;
}
.burbuja{
    display: grid;
    background-color: #388E3C;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    width: 4.8vw;
    height: 4.8vw;

}

.burbuja > p{
    margin: auto;
    color: white;
    font-size: 3vw;
}

.madre{
    background-color: #F7F9C1;
}

#contenedor {
    height: 80vh;
    margin-top: 10vh;
    overflow-y: scroll;
}

.desktop-header,
.mobile-header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #388E3C;
}

.desktop-footer,
.mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

/* IMPORTADO DE RANKING */

.userstyle{
    display: grid;
    grid-template-columns: 20vw 50vw 25vw;
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 3vw;
}
.imgperfil{
    position: static;
    border-radius: 50%;
    width: 20vw;
}

.info{
    justify-self: flex-start;
    padding-left: 3vw;
    width: 50vw;
}

.nombre {
    display: -webkit-box;
    font-size: 5vw;
    color: #31384F;
    margin: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mensaje {
    font-size: 4vw;
    color: #838795;
    margin-top: 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.usuario{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 2vw;
    padding-top: 2vw;
    margin-top: 2vw;
    width: 100vw;
    margin-bottom: 3vw;
    background-color: #F7F9C1;
}

@media only screen and (min-width: 770px) {
    .mobile {
        display: none;
    }

    .nombre, .mensaje{
        width: 70%;
    }

}

@media only screen and (max-width: 769px) {
    .desktop {
        display: none;
    }

    .card {
        width: 100%;
    }

    .busqueda {
        display: none;
    }


}