 <div class="madre">
     <div id="contenedor">
         <div class="content">
            <div class="col-desktop">
                 <div class=" espacio">
                     <!-- <div class="subirImagen ">
                             <div class=" info">
                                 <h6 class="col-7">Subir imagen</h6>
                                 <img src="/assets/icons/image.svg" class="col-1" alt="">
                             </div>
                         </div> -->
                 </div>
                 <div class="">
                     <div>
                         <div>
                             <form class="formulario">
                                 <div class="info">
                                     <div class="info-nombre">
                                         <h4>Imagen</h4>
                                     </div>
                                     <div class="info-input">
                                         <input type="url" placeholder="https://imagen.com" required #foto>
                                         <div class="invalid-feedback">
                                             <div>El nombre del lugar es obligatorio</div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="info">
                                     <div class="info-nombre">
                                         <h4>Nombre del lugar</h4>
                                     </div>
                                     <div class="info-input">
                                         <input type="text" name="nombre" id="nombre" placeholder="Nombre del lugar"
                                             required #nombre>
                                         <div class="invalid-feedback">
                                             <div>El nombre del lugar es obligatorio</div>
                                         </div>
                                     </div>

                                 </div>
                                 <div class="info-frase">
                                     <div class="info-nombre">
                                         <h4>Frase del lugar</h4>
                                     </div>
                                     <div>
                                         <textarea name="descripcion" id="descripcion" placeholder="Frase para encontrar el libro" required #descripcion>
                                         </textarea>
                                         <div class="invalid-feedback">
                                             <div>La frase del libro es obligatoria</div>
                                         </div>
                                     </div>

                                 </div>
                                 <div class="coordenada">
                                     <div class="form-group ">
                                         <label for="latitud">Latitud</label>
                                         <input type="text" name="latitud" id="latitud" value="{{userLat}}" disabled
                                             #latitud>
                                         <div class="invalid-feedback">
                                             <div>La frase del libro es obligatoria</div>
                                         </div>
                                     </div>
                                     <div>
                                         <label for="longitud">Longitud</label>
                                         <input type="text" name="longitud" id="longitud" value="{{userLon}}" disabled
                                             #longitud>
                                         <div class="invalid-feedback">
                                             <div>La frase del libro es obligatoria</div>
                                         </div>
                                     </div>
                                 </div>


                                 <div class="contenedor-boton">
                                     <button class="boton"
                                         (click)="nuevoLugar(nombre.value, descripcion.value, foto.value, latitud.value, longitud.value)">Guardar</button>
                                 </div>

                             </form>
                         </div>
                     </div>
                 </div>
            </div>

         </div>
     </div>
     <app-header-favoritos class="mobile mobile-header" title="Nuevo lugar" src="..\assets\icons\new-arrow_back.svg" id="back"
         alt="back"></app-header-favoritos>
     <app-footer class="desktop-header desktop"></app-footer>
     <app-footer class="mobile mobile-footer"></app-footer>
     <app-footer-login class="desktop-footer desktop"></app-footer-login>
 </div>