* {
    margin: 0;
    padding: 0;
}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F9C1;
}

.buscar {
    border: 0;
    width: 70vw;
    padding: 2vw;
    text-align: center;
}

#contenedor {
    padding-top: 20%;
    padding-bottom: 23%;
    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
}



datalist {
    display: none;
    width: 30px;
}

.buscar::placeholder {
    text-align: center;
}

.container {
    padding: 0 3vw;
    background-color: #F7F9C1;
}

.content {
    flex: 1 0 auto;
    background-color: #F7F9C1;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.contenedor-botones {
    display: flex;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.botones {
    background-color: #689F38;
    border: none;
    color: white;
    padding: 7px;
    margin: 2px;
}

.botonVolver {
    background-color: #388E3C;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
}

.cardLibro {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    padding: 1vw;
    margin: 2vw;
    border-radius: 1rem;
}

.imagen {
    height: 45vw;
    overflow: hidden;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    display: none;
}

.not-active {
    cursor: pointer;
}

.info {
    padding-top: 10px;
    padding-bottom: 10px;
}

.desktop-header,
.mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

.desktop-footer,
.mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.descripcion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.libros-favoritos{
    text-align: right;
  }
  
  .nuevo-libro{
    text-align: right;
  }

@media only screen and (min-width: 700px) {
    .mobile{
      display: none;
    }

    .padre{
      margin-left: 35vw;
    }

    #contenedor{
      padding-top: 5vw;
    }

    .col-desktop{
      padding-top: 0;
    }

    .desktop-row{
      width: 45%;
      margin-left: 20vw;
      margin-bottom: 1vw;
    }

    .content {
        margin-top: 2vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    p {
        color: #1D231E;
        font-size: 1.5vw;
      }
  
    #fav-plus {
    height: 5vw;
    width: 5vw;
    }

    .buscar {
        width: 40vw;
        height: 6vw;
        font-size: 25px;
    }

    .botones {
      width: 12vw;
      height: 4vw;
      border-radius: 10px;
    }

    .botones

    .busqueda>input {
      width: 30vw;
      height: 4vw;
      font-size: 1.5vw;
      border-radius: 10px;
    }

}

@media only screen and (max-width: 700px) {
  .desktop{
    display: none;
  }

  #mapa {
    padding: 0;
    margin: 0;
  }

  .col-desktop{
    padding-top: 0;
  }
}