<div class="madre">
  <div>
      <div class="row">
          <div id="contenedor">
            <div class="content">
              <div class="busqueda">
                  <img src="..\assets\icons\search.svg" id="iconoDentro"/><input type="search" class="buscar" placeholder="buscar">
              </div>
              <div class="contenedor-botones">
                  <button class="botones">Fantástica</button>
                  <button class="botones">Ficción</button>
                  <button class="botones">Suspenso</button>
                  <button class="botones">Drama</button>
                  <button class="botones">Acción</button>
                  <button class="botones">Aventura</button>
                  <button class="botones">Romance</button>
              </div>
              <div class="container">
                  <div class="row">
                    <div class="col" *ngFor="let vista of librosVista;">
                        <div class="cardLibro" routerLink="/libros/detalle" (click)="sendValueIdDetail(vista.Titulo, vista.Autor, vista.Descripcion, vista.Foto, vista.libro_id)">
                          <div class="imagen">
                            <img [src]="vista.Foto" class="portaLibro" alt="Avatar" style="width:100%">
                          </div>
                            <div class="container">
                              <p><b>{{vista.Titulo}}</b><br>{{vista.Descripcion}}</p>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
  <app-header-mapas class="mobile mobile-header" title="Libros" src="..\assets\icons\new-Book_fav.svg" src2="..\assets\icons\new-book_add.svg" id="plus" alt="bookMark" alt2="newBook" router1="/libros/favoritos" router2="/libros/nuevo"></app-header-mapas>
  <app-footer class="desktop-header desktop"></app-footer>
  <app-footer class="mobile mobile-footer"></app-footer>
  <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>