<div class="page">
    <div class="header">
        <li><a href="#"><img src="..\assets\icons\map-pin.svg" alt="Mapa"><br>Mapa</a></li>
        <li><a href="#"><img src="..\assets\icons\book.svg" alt="Libros"><br>Libros</a></li>
        <li><a href="#"><img src="..\assets\icons\list.svg" alt="Mapa"><br>Ranking</a></li>
        <li><a href="#"><img src="..\assets\icons\user.svg" alt="Mapa"><br>Perfil</a></li>
    </div>
    <div class="content">
        CONTENIDO
    </div>
    <div class="footer">
    </div>
</div>