<div class="madre">
  <div>
      <div class="row">
          <div id="contenedor">
            <div class="content">
              <div class="busqueda">
                  <img src="..\assets\icons\search.svg" id="iconoDentro"/><input type="search" class="buscar" placeholder="buscar">
              </div>
              <div class="contenedor-botones">
                  <button class="botones">Fantástica</button>
                  <button class="botones">Ficción</button>
                  <button class="botones">Suspenso</button>
                  <button class="botones">Drama</button>
                  <button class="botones">Acción</button>
                  <button class="botones">Aventura</button>
                  <button class="botones">Romance</button>
              </div>
              <div class="container">
                  <div class="row">
                    <div class="col">
                        <div class="cardLibro" [routerLink]="['/libros/detalle']">
                          <div class="imagen">
                            <img src="https://i.pinimg.com/236x/72/a8/7f/72a87f18c6aa0ae668ec174c8cca8f6f.jpg" class="portaLibro" alt="Avatar" style="width:100%">
                          </div>
                            <div class="container">
                              <p><b>Titulo1</b><br>Subtitulo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                      <div class="cardLibro" [routerLink]="['/libros/detalle']">
                        <div class="imagen">
                          <img src="https://www.adobe.com/es/express/create/cover/media_10487a00f81e45735d68f68bc2739b65bb4997de1.png?width=2000&format=webply&optimize=medium" class="portaLibro" alt="Avatar" style="width:100%">

                        </div>
                          <div class="container">
                              <p><b>Titulo2</b><br>Subtitulo</p>
                          </div>
                      </div> 
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        <div class="cardLibro" [routerLink]="['/libros/detalle']">
                          <div class="imagen">
                            <img src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1547929697/content-items/002/728/738/Captura_de_pantalla_2019-01-19_a_las_21.22.29-original.png?1547929697" class="portaLibro" alt="Avatar" style="width:100%">
                          </div>
                            
                            <div class="container">
                              <p><b>Titulo3</b><br>Subtitulo</p>
                            </div>
                        </div> 
                      </div>
                      <div class="col">
                        <div class="cardLibro" [routerLink]="['/libros/detalle']">
                          <div class="imagen">
                            <img src="https://wmagazin.com/wp-content/uploads/2018/12/Mejoresportadas2018-Ordesa-WMagazin-e1546088378833.jpg" class="portaLibro" alt="Avatar" style="width:100%">
                          </div>
                            
                            <div class="container">
                              <p><b>Titulo4</b><br>Subtitulo</p>
                            </div>
                        </div> 
                      </div>
                    </div>
              </div>
          </div>
          </div>
      </div>
  </div>
  <app-header-libros class="mobile mobile-header"></app-header-libros>
  <!-- <app-header-mapas class="mobile mobile-header" title="Libros" src="..\assets\icons\new-book_fav.svg" src2="..\assets\icons\new-book_add.svg" id="plus" alt="bookMark" alt2="newBook"></app-header-mapas> -->
  <app-footer class="desktop-header desktop"></app-footer>
  <app-footer class="mobile mobile-footer"></app-footer>
  <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>