<div>
    <div class="contenedor">
        <div class="imagen">
            <img [src]="libroVista.Foto" alt="...">
        </div>
        <div class="pista contenedor-modificar">
            <button (click)="modificarLibro();" [routerLink]="['modificar']" class="modificar">Modificar</button>
        </div>
        <div class="marco">
            <div class="estrellas">
                <ng-container *ngFor="let star of stars;">
                    <app-star (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()"
                        (starClicked)="onStarClicked($event)" [starId]="star" [rating]="hoverState || rating"
                        *ngIf="estaPuntuado == false; else yaPuntuado"></app-star>
                    <ng-template #yaPuntuado>
                        <app-star [starId]="star" [rating]="rating"></app-star>
                    </ng-template>

                </ng-container>

            </div>
            <div class="send">
                <a (click)="enviarMail();">
                    <img src="..\assets\icons\send.svg">
                </a>
            </div>
            <div class="botones">
                <a (click)="sendFav(libroVista.libro_id); guardadoFav();" *ngIf="esFavorito == false; else esFav">
                    <img src="..\assets\icons\add-bookmark.svg">
                </a>
            </div>
            <ng-template class="botones" #esFav>
                <a (click)="borrarFav(libroVista.libro_id); borradoFav();">
                    <img src="..\assets\icons\remove-bookmark.svg">
                </a>
            </ng-template>
        </div>
        <div class="description">
            <div>
                <h4 style="color:rgb(168, 164, 164);">
                    TITULO
                </h4>
            </div>
            <div>
                <h3>
                    {{libroVista.Titulo}}
                </h3>
            </div>
            <div class="descripcion">
                <h4 style="color:rgb(168, 164, 164);">
                    DESCRIPCION
                </h4>
            </div>
            <div>
                <h3>
                    {{libroVista.Descripcion}}
                </h3>
            </div>
            <div class="autor">
              <div>
                <h4>
                    <b>Autor: </b> {{libroVista.Autor}}
                </h4>
            </div>
            <div>
                <h4>
                    <b>Género: </b> {{libroVista.Genero}}
                </h4>
            </div>  
            </div>
            

        </div>
        <div class="divisor" *ngIf="coments">
            <div class="reviews">
                {{coments.length}} REVIEWS
            </div>
        </div>
        <div class="comentarios" *ngFor="let coment of coments;" #comentarios>
            <div class="uncomentario">
                <div class="separacion">
                    <div class="rostro">
                        <img [src]="coment.Foto" id="" alt="">
                    </div>
                    <div class="comentario">
                        <h5><b>{{coment.Nombre}}</b><br>{{coment.Coment}}</h5>
                    </div>
                </div>
                <div class="fecha">
                    <div>
                        <p>
                            <a class="btn btn-counter multiple-count" [attr.data-count]="coment.likeComent"
                                (click)="contadorLikes(coment.id_ComentLibro)"><span>&#x2764;</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sendComent mobile-footer">
        <div>
            <input type="text" placeholder="Escribir comentario" #coment><br>
        </div>
        <div class="contenedor-boton">
            <button (click)="sendComent(coment.value, libroVista.libro_id)">
                <h6>Enviar comentario</h6>
            </button>
        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" src="..\assets\icons\new-arrow_back.svg" title="Detalle Libro"
        id="back" alt="back" id2="ocultar" id3="ocultar"></app-header-favoritos>

</div>