<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="madre" #pagina>
    <div class="contenedor" >
        <div class="imagen">
           <img [src]="libroVista.Foto" alt="...">
        </div>
       <div class="marco">
        <div class="estrellas">
            <ng-container *ngFor="let star of stars;">
            <app-star (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()" (starClicked)="onStarClicked($event)" [starId]="star" [rating]="hoverState || rating"></app-star>
        </ng-container>
        </div>
            <div class="send">
                <a (click)="enviarMail();">
                    <img src="..\assets\icons\send.svg">
                </a>
            </div>
            <div class="botones">
                <a (click)="sendFav(libroVista.libro_id); guardadoFav();" *ngIf="esFavorito == false; else esFav">
                    <img src="..\assets\icons\add-bookmark.svg">
                </a>
            </div>
            <ng-template class="botones" #esFav>
                <a (click)="borrarFav(libroVista.libro_id); borradoFav();">
                    <img src="..\assets\icons\remove-bookmark.svg">
                </a>
            </ng-template>
       </div>
       <div class="description">
            <p style="color:rgb(168, 164, 164);">
                TITULO
            </p>
            <h4>
                {{libroVista.Titulo}}
            </h4>
            <p style="color:rgb(168, 164, 164);">
                DESCRIPCION
            </p>
            <p>
                {{libroVista.Descripcion}}
            </p>
            <p>
                <br><b>Autor: </b>  {{libroVista.Autor}}<br><b>Genero: </b>  {{libroVista.Genero}}
            </p>
        </div>
        <div class="divisor" *ngIf="coments">
            <div class="reviews">
                {{coments.length}} REVIEWS
            </div>
            <div class="bajar">
                MOST INTERESTING<a><img src="..\assets\icons\arrow-down.svg" id="" alt=""></a>
            </div>
        </div>
        <div class="comentarios" *ngFor="let coment of coments;" #comentarios>
            <div class="uncomentario">
                <div class="separacion">
                    <div class="rostro">
                        <img [src]="coment.Foto" id="" alt="">
                    </div>
                    <div class="comentario">
                        <p><b>{{coment.Nombre}}</b><br>{{coment.Coment}}</p>
                    </div>
                </div>
                <div class="fecha">
                    <div>
                        <p>
                            <a class="btn btn-counter multiple-count" [attr.data-count]="coment.likeComent" (click)="contadorLikes()"><span>&#x2764;</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sendComent">
        <div>
            <input type="text" placeholder="Escribir comentario" #coment><br>
        </div>
        <div class="contenedor-boton">
            <button (click)="sendComent(coment.value, libroVista.libro_id)"><p>Enviar comentario</p></button>
        </div>
        
    </div>
  <app-header-favoritos class="mobile mobile-header" src="..\assets\icons\new-arrow_back.svg" title="Detalle Libro" id="back" alt="back" id2="ocultar" id3="ocultar"></app-header-favoritos>
  <app-footer class="desktop-header desktop"></app-footer>
  <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>
