<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="contenedor">
    <app-header-vacio *ngIf="router.url == '/login'" id="header" class="mobile-header"></app-header-vacio>
    <app-header-register-arrow *ngIf="showBar()" id="arrowHeader" class="mobile-header"></app-header-register-arrow>
    <div class="column left">
    </div>
    <div class="column middle">
        <div class="logo">
            <img src="../../../assets/logo.jpg" alt="logo">
        </div>
        <div class="outletContent">
            <router-outlet name='login'></router-outlet>
            <router-outlet name='register'></router-outlet>
            <router-outlet name='forgot'></router-outlet>
        </div>
    </div>
    <div class="column right">
        
    </div>
    <app-footer-vacio class="mobile-footer"></app-footer-vacio>
</div>
