<div>
    <div>
        <div class="row">
            <div id="contenedor">
                <div class="col col-desktop">
                    <div class="content">
                        <div id="boxranking" >
                            <div>
                                <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
                            </div>
                            <div class="textranking">
                                <h3>Ernest Forts</h3>
                                <p>Leer es lo mio!</p>
                            </div>
                            <div>
                                <h3><img src="..\assets\icons\book.svg" alt="Libros">Libros</h3>
                                <p>34 libros leidos</p>
                            </div>
                            <div>
                                <h3><img src="..\assets\icons\map-pin.svg" alt="Mapa">Lugares</h3>
                                <p>3 lugares nuevos</p>
                            </div>
                            <div>
                                <h3>380pt</h3>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <div id="boxranking">
                            <div>
                                <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
                            </div>
                            <div class="textranking">
                                <h3>Ernest Forts</h3>
                                <p>Leer es lo mio!</p>
                            </div>
                            <div>
                                <h3><img src="..\assets\icons\book.svg" alt="Libros">Libros</h3>
                                <p>34 libros leidos</p>
                            </div>
                            <div>
                                <h3><img src="..\assets\icons\map-pin.svg" alt="Mapa">Lugares</h3>
                                <p>3 lugares nuevos</p>
                            </div>
                            <div>
                                <h3>380pt</h3>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <div id="boxranking" >
                            <div>
                                <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
                            </div>
                            <div class="textranking">
                                <h3>Ernest Forts</h3>
                                <p>Leer es lo mio!</p>
                            </div>
                            <div>
                                <h3><img src="..\assets\icons\book.svg" alt="Libros">Libros</h3>
                                <p>34 libros leidos</p>
                            </div>
                            <div>
                                <h3><img src="..\assets\icons\map-pin.svg" alt="Mapa">Lugares</h3>
                                <p>3 lugares nuevos</p>
                            </div>
                            <div>
                                <h3>380pt</h3>
                            </div>
                        </div>
                    </div>
                
                    <div class="content">
                        <div id="boxrankingMobile" >
                            <div>
                                <img class="imgperfilMobile" src="..\assets\pics\perfil.png" alt="">
                            </div>
                            <div class="textranking">
                                <h4>Ernest Forts</h4>
                                <p class="textRankingMobile">Leer es lo mio!</p>
                            </div>
                            <div>
                                <h4>380pt</h4>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div id="boxrankingMobile" >
                            <div>
                                <img class="imgperfilMobile" src="..\assets\pics\perfil.png" alt="">
                            </div>
                            <div class="textranking">
                                <h4>Ernest Forts</h4>
                                <p class="textRankingMobile">Leer es lo mio!</p>
                            </div>
                            <div>
                                <h4>380pt</h4>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div id="boxrankingMobile" >
                            <div>
                                <img class="imgperfilMobile" src="..\assets\pics\perfil.png" alt="">
                            </div>
                            <div class="textranking">
                                <h4>Ernest Forts</h4>
                                <p class="textRankingMobile">Leer es lo mio!</p>
                            </div>
                            <div>
                                <h4>380pt</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-header-ranking class="mobile mobile-header"></app-header-ranking>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>