* {
    margin: 0;
    padding: 0;
}

.bg{
    background-color: #F7F9C1;
    height: 80vh;
    width: 100vw;
    margin-top: 10vh;
    overflow-y: scroll;
}
.content{
    margin-top: 3vw;
    flex: 1 0 auto;
    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
} 
.userstyle{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
}
.imgperfil{
    position: static;
    border-radius: 50%;
    width: 20vw;
    margin-right: 5vw;
}
.nombre {
    font-size: 5vw;
    justify-content: flex-start;
    color: #31384F;
    margin: 0px 0px;
    padding-right: 8vw;
}
.subtitulo {
    font-size: 4vw;
    justify-content: flex-start;
    color: #838795;
    padding-right: 8vw;
    margin-top: 1vw;
}

.puntos{
    font-weight: 600;
    font-size: 8vw;
    color: #388E3C;    
}

.line{
    width: 100vw;
    border: 0.5px solid #E2E3E4;
    margin: 20px 0px;
}


.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100vw;
}
.desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
@media only screen and (min-width: 770px) {
    .mobile{
        display: none;
    }

}
@media only screen and (max-width: 769px) {
    .desktop{
        display: none;
    }
    
}