.bg{
    background-color: #F7F9C1;
    height: 100vh;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 120px;
} 
.userstyle{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin-top: 20px;
}
.imgperfil{
    position: static;
    border-radius: 200px;
    width: 100px;
    margin-right: 40px;
}
.nombre {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    justify-content: flex-start;
    color: #31384F;
    margin: 0px 0px;
}
.subtitulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    justify-content: flex-start;
    color: #838795;
    margin-top: 10px;
}
.puntos{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    color: #388E3C;
    margin-left: 30px;
}
.line{
    width: 350px;
    border: 0.5px solid #E2E3E4;
    margin: 20px 0px;
}






.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100vw;
}
.desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
@media only screen and (min-width: 751px) {
    .mobile{
        display: none;
    }

}
@media only screen and (max-width: 750px) {
    .desktop{
        display: none;
    }
    
}