* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #F7F9C1;

}

.content {
    flex: 1 0 auto;
    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
    overflow-y: scroll;
    padding-top: 23%;
    padding-bottom: 23%;

}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F9C1;
}

.buscar {
    border: 0;
    width: 70vw;
    padding: 2vw;
    text-align: center;
}

.buscar::placeholder {
    text-align: center;

}

.buscar::placeholder {
    text-align: center;
}


/* .animacion {
    animation-duration: 3s;
    animation-name: slidein;
    width: 4rem;
} */

/* @keyframes slidein {
    from {
        margin-left: 50%;
        transform: rotate(270deg);
    }

    to {
        margin-left: 3%;
    }
} */

.userstyle {
    display: grid;
    grid-template-columns: 20vw 50vw 25vw;
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 3vw;
}

.imgperfil {
    position: static;
    border-radius: 50%;
    width: 20vw;
}

.info {
    justify-self: flex-start;
    padding-left: 3vw;
}

.nombre {
    color: #31384F;
    margin: 0;
}

.subtitulo {
    color: #838795;
    margin-top: 1vw;
}

.puntos {
    font-weight: 600;
    color: #388E3C;
}

.usuario {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-bottom: 2vw;
    padding-top: 2vw;
    margin-top: 2vw;
    width: 100vw;
    margin-bottom: 3vw;
    background-color: #F7F9C1;
}


.desktop-header,
.mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

.desktop-footer,
.mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

@media only screen and (min-width: 700px) {
    .mobile {
        display: none;
    }

    .content {
        width: 100%;
    }

    .buscar {
        width: 40vw;
        height: 6vw;
        font-size: 25px;
    }

}

@media only screen and (max-width: 700px) {
    .desktop {
        display: none;
    }


}

@media (min-aspect-ratio: 141/398) and (max-aspect-ratio: 300/667){
    .content{
        padding-top: 25%;
        padding-bottom: 30%;
    }
}

@media (max-aspect-ratio: 141/398){
    .content{
        padding-top: 60%;
        padding-bottom: 60%;

    }
}