<div class="bg">
    <div class="row">
        <div class="content">
            <div class="userstyle">
                <div>
                    <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
                </div>
                <div>
                    <p class="nombre">Ernest Forts</p>
                    <p class="subtitulo">Leer es lo mio!</p>
                </div>  
                <div>
                    <p class="puntos">240pt</p>
                </div>  
            </div>
            <div class="line"></div>
            <div class="userstyle">
                <div>
                    <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
                </div>
                <div>
                    <p class="nombre">Maria Lopez</p>
                    <p class="subtitulo">Me gusta leer!</p>
                </div>  
                <div>
                    <p class="puntos">190pt</p>
                </div>  
            </div>
            <div class="line"></div>
            <div class="userstyle">
                <div>
                    <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
                </div>
                <div>
                    <p class="nombre">Jose Perez</p>
                    <p class="subtitulo">Leer es lo mejor</p>
                </div>  
                <div>
                    <p class="puntos">135pt</p>
                </div>  
            </div>
            <div class="line"></div>
        </div>
    </div>
    
    <app-header-ranking class="mobile mobile-header"></app-header-ranking>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>