<div class="fondo">
    <div class="cabecera">
        <div>
            <h1>Mapas</h1>
        </div>
        <div>
        </div>
        <div class="safe">
            <div class="botones">
                <a [routerLink]="['/mapa/favoritos']">
                    <img src="..\assets\icons\new-map_fav.svg" id="plus" alt="Bookmark">
                </a>
                <a [routerLink]="['/mapa/detalle']">
                    <img src="..\assets\icons\new-add_book.svg" id="plus" alt="Plus">
                </a>
            </div>
        </div>
    </div>
</div>