*{
    margin: 0px;
    padding: 0px;
}
.fondo{
    background-color: #388E3C;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo{
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 70%;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Poppins';
    color: white;
}

.safe {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#plus {
    width: 6rem; 
    height: 6rem;
}

#ocultar {
    display: none;
}

.ocultar {
    display: none;
}



