* {
    padding: 0;
    margin: 0;
}

.outletContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 28vw;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #979797;
}

.formDiv{
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#spanPassword {
    position: absolute;
    font-size: 2rem;
    top: 61vw;
    left: 60vw;
}

#spanRepassword {
    position: absolute;
    font-size: 2rem;
    top: 78vw;
    left: 60vw;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}

input {
    background: #FFFFFF;

    width: 70vw;
    box-sizing: border-box;
    padding: 4%;
    font-family: Montserrat;
    font-style: normal;
    padding-left: 7px;

}

.ancho-completo{
    width: 100%;
}

.registerButton {

    margin-top: 5vw;


    align-items: center;
    width: 255px;
    height: 46px;

    /* Global/03. Success */

    background-color: #689F38;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.formFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 100%;
    height: 100%;
}

@media only screen and (min-width: 700px) {

    
    .outletContent {
        margin-top: 10vw;
    }

    h2 {
        font-size: 60px;
    }

    #spanPassword {
        font-size: 1rem;
        top: 17.7vw;
        left: 26vw;
    }
    
    #spanRepassword {
        font-size: 1rem;
        top: 22.7vw;
        left: 26vw;
    }
    

    input {
        width: 30vw;
        height: 4vw;
        font-size: 30px;
        border-radius: 10px;
    }

    .registerButton {
        width: 300px;
        height: 60px;
        border-radius: 10px;
        font-size: 30px;
    }

}