<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="outletContent">

    <div class="titulo">
        <h2>Registro</h2>
    </div>
    <div class="contenedor">
        <div class="formDiv">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formFlex">

                <input formControlName="txtEmail" type="email" style="margin-top: 20px;" placeholder="Email">

                <input formControlName="txtNombre" type="text" style="margin-top: 20px;" placeholder="Nombre">


                <input formControlName="txtApellidos" type="text" style="margin-top: 20px;" placeholder="Apellido">


                <div class="ancho-completo">
                    <input id="password" formControlName="txtPassword" type="password" style="margin-top: 20px;"
                        placeholder="Contraseña">
                    <span id="spanPassword" [ngClass]="isVisible" (click)="toggle('password','spanPassword')"></span>
                </div>
                <div class="ancho-completo">
                    <input id="Repassword" formControlName="txtRePassword" type="password" style="margin-top: 20px;"
                        placeholder="Repite la contraseña">
                    <span id="spanRepassword" toggle="#txtRePassword" [ngClass]="isVisible"
                        (click)="toggle('Repassword','spanRepassword')"></span>
                </div>

                <button class="registerButton">Enviar</button>

            </form>
        </div>
    </div>
</div>