<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="outletContent">
    <div style="margin-top: -30px;">
        <h2>Registro</h2>
    </div>
    <div class="contenedor">
        <div class="formDiv">
            <form [formGroup]="registerForm" class="formFlex">
                <input formControlName="txtEmail" type="email" style="margin-top: 20px;" placeholder="email">
                <input formControlName="txtNombre" type="text" style="margin-top: 20px;" placeholder="nombre">
                <input formControlName="txtApellidos" type="text" style="margin-top: 20px;" placeholder="apellidos">
                <div>
                    <input id="password" formControlName="txtPassword" type="password" style="margin-top: 20px;" placeholder="password">
                    <span id="spanPassword" [ngClass]="isVisible" (click)="toggle('password','spanPassword')"></span>
                </div>
                <div>
                    <input id="Repassword" formControlName="txtRePassword" type="password" style="margin-top: 20px;" placeholder="repite el password">
                    <span id="spanRepassword" toggle="#txtRePassword" [ngClass]="isVisible" (click)="toggle('Repassword','spanRepassword')"></span>
                </div>          
        
                <button class="registerButton" (click)="register()">Enviar</button>
        
            </form>
        </div>
    </div>
</div>


