* {
    margin: 0;
    padding: 0;
}

app-header-favoritos{
    height: 10%;
    background-color: #388E3C;
}

.bg{
    background-color: #F7F9C1;
    height: 100%;
    width: 100vw;
    padding-top: 25%;
    padding-bottom: 23%;
}


.subtitulo{
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: white;
}

.imagen{
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

.imgperfil{
    border-radius: 50%;
    width: 30vw;
}

#parte1{
    padding-top: 3vw;
    padding-bottom: 3vw;
}

#parte2{
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.separado{
    margin-top: 2vw;
    padding-left: 10%;
    padding-right: 10%;
}


.titles{
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: #C2C4CB;
}

.line{
    width: 100vw;
    border-bottom: 0.5px solid #E2E3E4;
    margin-top: 2%;
}

.title2{
    color: #5A6072;
}

.title3{
    font-weight: 600;
    color: black;
}

.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
  }
  
  .desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
  }

  .contenedor-boton{
      margin-top: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.boton {
    background-color: #689F38;
    color: white;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 60%;

}

input{
    padding: 4%;
    align-content: flex-end;
    width: 100%;
}


@media only screen and (min-width: 770px) {
    .mobile{
        display: none;
    }

}

@media only screen and (max-width: 769px) {
    .desktop{
        display: none;
    }
    
}