<div>
    <div class="bg">
        <div class="outletContent">
            <div class="contenedor">
                <div class="imagen">
                    <img class="imgperfil" src="{{urlFotoPerfil}}" alt="">
                </div>
                <div class="formDiv">
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="formFlex">
                        <div id="parte1" class="row">
                            <div class="row separado">
                                <div class="titlestyle">
                                    <h4 class="titles">información general</h4>
                                </div>
                            </div>
                            <div class="row separado">
                                <div class="row">
                                    <h4 class="title2">Nombre y apellido</h4>
                                </div>
                                <div class="row">
                                    <input formControlName="txtNombreCompleto" type="text" style="margin-top: 5px;"
                                        placeholder="Nombre">
                                </div>
                            </div>
                            <div>
                                <div class="line"></div>
                            </div>
                            <div class="row separado">
                                <div class="row">
                                    <h4 class="title2">Frase</h4>
                                </div>
                                <div class="row">
                                    <input formControlName="txtFrase" type="text" style="margin-top: 5px;"
                                        placeholder="Frase">
                                </div>
                            </div>
                            <div>
                                <div class="line"></div>
                            </div>
                            <div class="row separado">
                                <div class="row">
                                    <h4 class="title2">Foto Perfil</h4>
                                </div>
                                <div class="row">
                                    <input formControlName="txtFoto" type="text" style="margin-top: 5px;"
                                        placeholder="Foto">
                                </div>
                            </div>
                            <div>
                                <div class="line"></div>
                            </div>
                        </div>
                        <div id="parte2" class="row">
                            <div class="row separado">
                                <div class="titlestyle">
                                    <h4 class="titles">Contacto</h4>
                                </div>
                            </div>
                            <div class="row separado">
                                <div class="row">
                                    <h4 class="title2">Teléfono</h4>
                                </div>
                                <div class="row">
                                    <input formControlName="txtTelefono" type="text" style="margin-top: 5px;"
                                        placeholder="Telefono">
                                </div>
                            </div>
                            <div>
                                <div class="line"></div>
                            </div>
                            <div class="row separado">
                                <div class="row">
                                    <h4 class="title2">Email</h4>
                                </div>
                                <div class="row">
                                    <input formControlName="txtEmail" type="text" style="margin-top: 5px;"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="contenedor-boton">
                                    <button class="boton" type="submit">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-header-favoritos class="mobile-header showBar" src="..\assets\icons\new-arrow_back.svg" id="back" alt="back"
        id2="ocultar" id3="ocultar"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-login class="desktop-footer desktop"></app-footer-login>
</div>