<div class="page">
    <div class="header">
        <img class="logo" src="..\assets\pics\logo.png" alt="RobinBook">
        <h2><a href="#"><br>Mapa</a></h2>
        <h2><a href="#"><br>Libros</a></h2>
        <h2><a href="#"><br>Ranking</a></h2>
        <h2><a href="#"><br>Perfil</a></h2>
        
    </div>

    <div class="content">
        <div class="boxranking" >
            <div>
                <img class="imgperfil" src="..\assets\pics\perfil.png" alt="">
            </div>
            <div class="textranking">
                <h3>Ernest Forts</h3>
                <p>Leer es lo mio!</p>
            </div>
            <div>
                <h3><img src="..\assets\icons\book.svg" alt="Libros">Libros</h3>
                <p>34 libros leidos</p>
            </div>
            <div>
                <h3><img src="..\assets\icons\map-pin.svg" alt="Mapa">Lugares</h3>
                <p>3 lugares nuevos</p>
            </div>
            <div>
                <h3>380pt</h3>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="boxranking" >
            <div>
                <img class="imgperfil" src="..\assets\pics\perfil2.png" alt="">
            </div>
            <div class="textranking">
                <h3>Maria Lopez</h3>
                <p>Leer es lo mio!</p>
            </div>
            <div>
                <h3><img src="..\assets\icons\book.svg" alt="Libros">Libros</h3>
                <p>34 libros leidos</p>
            </div>
            <div>
                <h3><img src="..\assets\icons\map-pin.svg" alt="Mapa">Lugares</h3>
                <p>3 lugares nuevos</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="boxranking" >
            <div>
                <img class="imgperfil" src="..\assets\pics\perfil2.png" alt="">
            </div>
            <div class="textranking">
                <h3>Maria Lopez</h3>
                <p>Leer es lo mio!</p>
            </div>
            <div>
                <h3><img src="..\assets\icons\book.svg" alt="Libros">Libros</h3>
                <p>34 libros leidos</p>
            </div>
            <div>
                <h3><img src="..\assets\icons\map-pin.svg" alt="Mapa">Lugares</h3>
                <p>3 lugares nuevos</p>
            </div>
        </div>
    </div>

    <div class="footer">
        
    </div>
</div>