* {
    background-color: #F7F9C1;
}

.mat-dialog-title {
    background-color: #689F38;
}

.mat-dialog-content {
    background-color: #388E3C;
}

.mat-dialog-actions {
    background-color: #F7F9C1;
    display: flex;
}

.mat-button {
    background-color: #388E3C;
}

.mat-dialog-close {
    background-color: #F7F9C1;
}