* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #F7F9C1;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: grid;
    padding-top: 12vh;
    padding-bottom: 12vh;

}

.contenedor-content {
    display: flex;
}
.crear-chat{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crear-chat > button {
    background-color: #388E3C;
    padding: 3%;
    width: 20%;
}
.crear-chat > button > img{
    width: 70%;
    filter: invert(99%) sepia(69%) saturate(0%) hue-rotate(248deg) brightness(105%) contrast(101%);
}
.content {
    margin: auto;
    flex: 1 0 auto;
    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
}

.parte1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgperfil {
    border-radius: 50%;
    width: 40vw;
}

.nombre>h4 {
    font-weight: 600;
    text-align: center;
    color: #31384F;
}

.subtitulo>h4 {
    font-weight: 500;
    text-align: center;
    color: #838795;
}

.line {
    width: 100vw;
    border-bottom: 0.5px solid #E2E3E4;
    padding-top: 6vw;
}

.alinelibros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

.textlibros {
    font-weight: 600;
    padding-top: 0.5vw;
    text-transform: uppercase;
    color: #C2C4CB;
}

.librosFav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libroStyle{
    align-self: center;
    justify-self: center;
}


.imglibro {
    width: 19.4vw;
    height: 25vw;
    border-radius: 12px;
    margin: 0px 16px;
}

.noBooks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #689F38;
    padding: 5%;
}

.librostyle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    margin-bottom: 5.5vw;
    width: 100%;
}

.titlelibro {
    font-weight: 600;
    color: #31384F;
}

.titlelibro2 {
    color: #5A6072;
}

.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
  }
  
  .desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
  }

app-header-favoritos{
    height: 10%;
    background-color: #388E3C;

}

@media only screen and (min-width: 770px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 769px) {
    .desktop {
        display: none;
    }

}