* {
    margin: 0;
    padding: 0;
}

.bg{
    background-color: #F7F9C1;
    height: 80vh;
    width: 100vw;
    margin-top: 10vh;
    overflow-y: scroll;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 3vw;
    background-color: #F7F9C1;
}

.parte1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.imgperfil{
    border-radius: 50%;
    width: 40vw;
}

.nombre > p {
    font-weight: 600;
    font-size: 6vw;
    text-align: center;
    color: #31384F;
}

.subtitulo > p{
    font-weight: 500;
    font-size: 3.2vw;
    text-align: center;
    color: #838795;
}

.line{
    width: 100vw;
    border-bottom: 0.5px solid #E2E3E4;
    padding-top: 6vw;
}

.alinelibros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

.textlibros{
    font-weight: 600;
    font-size: 3.3vw;
    padding-top: 0.5vw;
    text-transform: uppercase;
    color: #C2C4CB;
}

.imglibro{
    width: 19.4vw;
    height: 25vw;
    border-radius: 12px;
    margin: 0px 16px;
}

.librostyle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    margin-bottom: 5.5vw;
}

.titlelibro{
    font-weight: 600;
    font-size: 4.4vw;
    color: #31384F;
}

.titlelibro2{
    font-size: 3.5vw;
    color: #5A6072;
}

.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #388E3C;

}
.desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media only screen and (min-width: 770px) {
    .mobile{
        display: none;
    }

}
@media only screen and (max-width: 769px) {
    .desktop{
        display: none;
    }
    
}