<div>
    <div>
        <div class="row">
            <div id="contenedor">
                <div class="col col-nueva col-desktop">
                    <div class="row desktop-row align-items-end desktop">
                        <div class="col-1 col-special">
                            <svg class="flecha" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="Iconly/Light/Arrow - Left 2">
                                    <g id="Arrow - Left 2">
                                        <path id="Stroke 1" d="M15.5 19L8.5 12L15.5 5" stroke="#388E3C"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col col-nueva favoritos">
                            <h6 class="">{{lugarVista.Nombre}}</h6>
                        </div>
                        <div class="col-1 col-special">
                        </div>
                    </div>

                    <div class="row content">
                        <div class="ancho-completo">
                            <div class="container imagen">
                                <img [src]="lugarVista.Foto" class="img-thumbnail" alt="...">
                            </div>
                            <div class="row pista">
                                <h6><b>{{lugarVista.Nombre}}</b></h6>
                            </div>
                            <div class="row pista">
                                <h6>{{lugarVista.Descripcion}}</h6>
                            </div>
                            <div class="row pista">
                                <h6 *ngIf="tieneLibro == true; else elseBlock" class="tieneLibro"><b>Libro
                                        disponible.</b></h6>
                                <ng-template #elseBlock>
                                    <h6 class="noTieneLibro"><b>No hay ningún libro en estos momentos.</b></h6>
                                </ng-template>
                            </div>
                            <div class="row iconos">
                                <div class="rate col-1">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                                <div class="col">
                                </div>
                                <div class="col-1 icono favorito">
                                    <a (click)="sendFav(lugarVista.Lugar_id); guardadoFav();" *ngIf="!inFav();">
                                        <img src="..\assets\icons\add-bookmark.svg" id="" alt="">
                                    </a>
                                </div>
                                <div class="col-2 icono favorito">
                                    <a (click)="borrarFav(lugarVista.Lugar_id); borradoFav();" *ngIf="inFav();">
                                        <img src="..\assets\icons\remove-bookmark.svg" id="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="divisor" *ngIf="coments">
                            <div class="reviews">
                                {{coments.length}} REVIEWS
                            </div>
                            <div class="bajar">
                                MOST INTERESTING<a><img src="..\assets\icons\arrow-down.svg" id="" alt=""></a>
                            </div>
                        </div>
                        <div class="comentarios" *ngFor="let coment of coments;">
                            <div class="uncomentario">
                                <div class="separacion">
                                    <div class="rostro">
                                        <img [src]="coment.Foto" id="" alt="">
                                    </div>
                                    <div class="comentario">
                                        <p><b>{{coment.Nombre}}</b><br>{{coment.Coment}}</p>
                                    </div>
                                </div>
                                <div class="fecha">
                                    <div>
                                        <p>
                                            <a href="#" class="btn btn-counter multiple-count"
                                                data-count="0"><span>&#x2764;</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sendComent">
                        <div>
                            <input type="text" placeholder="Escribir comentario" #coment><br>
                        </div>
                        <div class="contenedor-boton">
                            <button (click)="sendComent(coment.value, lugarVista.Lugar_id)"><p>Enviar comentario</p></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" title="Favoritos" src="..\assets\icons\new-arrow_back.svg"
        id="back" alt="back" id2="ocultar" id3="ocultar">
    </app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>