<div>
    <div class="madre">
        <div class="row">
            <div id="contenedor">
                <div class="col col-nueva col-desktop">
                    <div class="row desktop-row align-items-end desktop">
                        <div class="col-1 col-special">
                            <svg class="flecha" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="Iconly/Light/Arrow - Left 2">
                                    <g id="Arrow - Left 2">
                                        <path id="Stroke 1" d="M15.5 19L8.5 12L15.5 5" stroke="#388E3C"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col col-nueva favoritos">
                            <h5 class="">{{lugarVista.Nombre}}</h5>
                        </div>
                        <div class="col-1 col-special">
                        </div>
                    </div>
                    <div class="content">
                        <div class="ancho-completo">
                            <div class="container imagen">
                                <img [src]="lugarVista.Foto" class="img-thumbnail" alt="...">
                            </div>
                            <div class="row pista">
                                <h5><b>{{lugarVista.Nombre}}</b></h5>
                            </div>
                            <div class="row pista">
                                <h5>{{lugarVista.Descripcion}}</h5>
                            </div>
                            <div class="row pista">
                                <h5 *ngIf="tieneLibro == true; else elseBlock" class="tieneLibro"><b>Libro
                                        disponible.</b></h5>
                                <ng-template #elseBlock>
                                    <h5 class="noTieneLibro"><b>No hay ningún libro en estos momentos.</b></h5>
                                </ng-template>
                            </div>
                            <div class="row pista contenedor-modificar">
                                <button (click)="modificarLugar();" [routerLink]="['modificar']"
                                    class="modificar">Modificar</button>
                            </div>
                            <div class="row pista contenedor-modificar">
                                <button (click)="modificarEstadoLibro();" class="modificar"
                                    *ngIf="tieneLibro == true; else dejarLibro">Recoger libro</button>
                                <ng-template #dejarLibro>
                                    <button (click)="modificarEstadoLibro();" class="modificar">Dejar libro</button>
                                </ng-template>
                            </div>
                            <div class="marco">
                                <div class="estrellas">
                                    <ng-container *ngFor="let star of stars;">
                                        <app-star (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()"
                                            (starClicked)="onStarClicked($event)" [starId]="star"
                                            [rating]="hoverState || rating"
                                            *ngIf="estaPuntuado == false; else yaPuntuado"></app-star>
                                        <ng-template #yaPuntuado>
                                            <app-star [starId]="star" [rating]="rating"></app-star>
                                        </ng-template>
                                    </ng-container>
                                </div>

                                <div class="botones">
                                    <a (click)="sendFav(lugarVista.Lugar_id); guardadoFav();"
                                        *ngIf="esFavorito == false; else esFav">
                                        <img src="..\assets\icons\add-bookmark.svg" id="" alt="">
                                    </a>
                                </div>
                                <ng-template class="botones" #esFav>
                                    <a (click)="borrarFav(lugarVista.Lugar_id); borradoFav();">
                                        <img src="..\assets\icons\remove-bookmark.svg" id="" alt="">
                                    </a>
                                </ng-template>
                            </div>
                        </div>
                        <div class="divisor" *ngIf="coments">
                            <div class="reviews">
                                <h5>{{coments.length}} REVIEWS</h5>
                            </div>
                        </div>
                        <div class="comentarios" *ngFor="let coment of coments;">
                            <div class="uncomentario">
                                <div class="separacion">
                                    <div class="rostro">
                                        <img [src]="coment.Foto" id="" alt="">
                                    </div>
                                    <div class="comentario">
                                        <h5><b>{{coment.Nombre}}</b><br>{{coment.Coment}}</h5>
                                    </div>
                                </div>
                                <div class="fecha">
                                    <div>
                                        <h5>
                                            <a class="btn btn-counter multiple-count"
                                                [attr.data-count]="coment.LikeComent"
                                                (click)="contadorLikes(coment.id_ComentLugar)"><span>&#x2764;</span></a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sendComent">
                        <div>
                            <input type="text" placeholder="Escribir comentario" (keydown.enter)="presionarEnter($event, coment.value, lugarVista.Lugar_id); coment.value = ''" #coment ><br>
                        </div>
                        <div class="contenedor-boton">
                            <button (click)="sendComent(coment.value, lugarVista.Lugar_id)">
                                <h6>Enviar comentario</h6>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" title="Favoritos" src="..\assets\icons\new-arrow_back.svg"
        id="back" alt="back" id2="ocultar" id3="ocultar">
    </app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>