* {
    margin: 0;
    padding: 0;
}

app-header-favoritos {
    height: 10%;
    background-color: #388E3C;

}


.content {
    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
    padding-top: 17%;
    padding-bottom: 23%;
}

.desktop-row {
    width: 45%;
    margin: auto;
}

.desktop-header,
.mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

.desktop-footer,
.mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.col-desktop {
    padding-top: 5rem;
}

.favoritos {
    text-align: center;
    padding-right: 6px;
}

.pista>h6 {
    line-height: 7.5vw;
    color: #5A6072;
}

.col-nueva {
    padding-bottom: 8px;
    width: 100%;
}

.col-special {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
}

.flecha {
    margin: auto;
    width: 2vw;
    height: auto;
}

.iconos {
    margin-top: 2%;
}

.icono>svg {
    width: 4.5vw;
    height: 4.5vw;
    color: #388E3C;
}

.favorito {
    padding-right: 12vw;
    justify-content: center;
    align-items: center;
}

.favorito>img {
    padding-top: 3vw;
}

.ancho-completo {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.imagen {
    margin: 0;
    padding: 0;
}

.pista {
    margin-top: 2%;
    margin-left: 2%;
}

.imagen>img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: none;
    border: none;
    padding: 0;
    border-radius: 0;
}

.divisor {
    margin-top: 2vw;
    border: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.reviews {
    margin-left: 20px;
    color: grey;
}

.bajar {
    color: #388E3C;
    margin-right: 20px;
}

.bajar>a>img {
    transform: rotate(-90deg);
}

.comentarios {
    display: flex;
    flex-direction: column;
}

.uncomentario {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.separacion {
    display: flex;
}

.rostro>img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 15px;
}

.comentario {
    margin-left: 20px;
}

.nombre>p {
    color: #31384F;
}

.mensaje>p {
    color: #31384F;
}


.fecha {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 80px;
    margin-right: 15px;
    color: #838795;
}

.btn {
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
    border: 1px solid;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    position: relative;

    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/*
   * Counter button style
   */
.btn-counter {
    margin-right: 39px;
}

.btn-counter:after,
.btn-counter:hover:after {
    text-shadow: none;
}

.btn-counter:after {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    padding: 0 8px;
    color: #777;
    content: attr(data-count);
    left: 100%;
    margin-left: 8px;
    margin-right: -13px;
    position: absolute;
    top: -1px;
}

/*
   * Custom styles
   */
.btn {
    background-color: #dbdbdb;
    border-color: #bbb;
    color: #666;
}

.btn:hover,
.btn.active {
    text-shadow: 0 1px 0 #b12f27;
    background-color: #f64136;
    border-color: #b12f27;
}

.btn:active {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2) inset;
}

.btn span {
    color: #f64136;
}

.btn:hover,
.btn:hover span,
.btn.active,
.btn.active span {
    color: #eeeeee;
}

.btn:active span {
    color: #b12f27;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.corazon {
    background-color: rgba(238, 238, 238, 0);
}

.tieneLibro>b {
    color: #388E3C;
}

.noTieneLibro>b {
    color: #b12f27;
}

.contenedor-boton>button {
    background-color: #27642A;
    border: none;
    color: white;
    padding: 7px;
    justify-items: center;
}

input {
    border: 1px solid black;
    width: 90vw;
    padding-left: 7px;
}

.sendComent {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    background-color: #388E3C;
    justify-content: space-evenly;
    align-items: center;
}

.marco {
    border: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.botones {
    padding: 10px;
    position: relative;
    margin-right: 10px;
}

.estrellas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
}

.contenedor-modificar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.modificar {
    margin-top: 10px;
    width: 60%;
    background-color: #689F38;
    color: white;

}

@media only screen and (min-width: 650px) {

    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 650px) {
    .desktop {
        display: none;
    }

    .col-desktop {
        padding-top: 0;
    }

}

@media (min-width: 768px) {
    .imagen {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .imagen {
        max-width: 100%;
    }
}

@media (min-aspect-ratio: 141/398) and (max-aspect-ratio: 300/667) {
    .content {
        padding-top: 30%;
        padding-bottom: 30%;

    }
}

@media (max-aspect-ratio: 141/398) {
    .content {
        padding-top: 60%;
        padding-bottom: 60%;

    }
}