<div class="fondo">
    <div class="cabecera">
        <div>
            <h3>Libros</h3>
        </div>
        <div>
        </div>
        <div class="safe">
            <div class="botones">
                <a href="#">
                    <img src="..\assets\icons\bookmark.svg" id="plus" alt="Bookmark">
                </a>
                <a href="#">
                    <img src="..\assets\icons\plus.svg" id="plus" alt="Plus">
                </a>
            </div>
        </div>
    </div>
</div>
