<div class="fondo">
    <div class="cabecera">
        <div>
            <h1>Libros</h1>
        </div>
        <div>
        </div>
        <div class="safe">
            <div class="botones">
                <a [routerLink]="['/libros/favoritos']">
                    <img src="..\assets\icons\new-book_fav.svg" id="plus" alt="Bookmark">
                </a>
                <a [routerLink]="['/libros/nuevo']">
                    <img src="..\assets\icons\new-book_add.svg" id="plus" alt="Plus">
                </a>
            </div>
        </div>
    </div>
</div>
