<!-- <div>
    <div id="contenedor">
        <div class="row">
            <div class="content">
                <div class="col col-desktop">
                    <div class="row espacio">
                        <div class="subirImagen row">
                            <div class="row info">
                                <h6 class="col-7">Subir imagen</h6>
                                <img src="/assets/icons/image.svg" class="col-1" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="formulario">
                            <div>
                                <form [formGroup]="placeForm" (ngSubmit)="onSubmit()" class="formFlex">
                                    <div class="info-nombre">
                                        <h4>Imagen</h4>
                                    </div>
                                    <div class="info-input">
                                        <input formControlName="txtFoto" type="url"  placeholder="https://imagen.com" required #foto>
                                    </div>
                                    <div class="info-nombre">
                                        <h4>Nombre del lugar</h4>
                                    </div>
                                    <div class="info-input">
                                        <input formControlName="txtNombre" type="text" name="nombre" id="nombre"
                                            placeholder="Nombre lugar" required #nombre>
                                        <div class="invalid-feedback">
                                            <div>El nombre del lugar es obligatorio</div>
                                        </div>
                                    </div>
                                    <div class="info-nombre">
                                        <h4>Frase del lugar</h4>
                                    </div>
                                    <div class="info-input">
                                        <textarea formControlName="txtDescripcion" name="descripcion" id="descripcion"
                                            placeholder="Frase para encontrar el libro" required #descripcion></textarea>
                                        <div class="invalid-feedback">
                                            <div>La frase del libro es obligatoria</div>
                                        </div>
                                    </div>                                   
                                    <div class="row">
                                        <div class="contenedor-boton">
                                            <button class="boton" type="submit">Guardar</button>
                                        </div>
                                       </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" title="Lugar" src="..\assets\icons\new-arrow_back.svg" id="back"
        alt="back"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>
</div> -->

<div class="madre">
    <div id="contenedor">
        <div class="content">
            <div class="col-desktop">
                <div class=" espacio">
                    <!-- <div class="subirImagen ">
                            <div class=" info">
                                <h6 class="col-7">Subir imagen</h6>
                                <img src="/assets/icons/image.svg" class="col-1" alt="">
                            </div>
                        </div> -->
                </div>
                <div class="">
                    <div class="formulario">
                        <div>
                            <form [formGroup]="placeForm" (ngSubmit)="onSubmit()" class="formFlex">
                                <div class="info">
                                    <div  class="info-nombre">
                                        <h4>Imagen</h4>
                                    </div>
                                    <div class="info-input">
                                        <input formControlName="txtFoto" type="url" placeholder="https://imagen.com" required #foto>
                                        <div class="invalid-feedback">
                                            <div>El nombre del lugar es obligatorio</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="info-nombre">
                                        <h4>Nombre del lugar</h4>
                                    </div>
                                    <div class="info-input">
                                        <input formControlName="txtNombre" type="text" name="nombre" id="nombre" placeholder="Nombre del lugar"
                                            required #nombre>
                                        <div class="invalid-feedback">
                                            <div>El nombre del lugar es obligatorio</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="info-frase">
                                    <div class="info-nombre">
                                        <h4>Frase del lugar</h4>
                                    </div>
                                    <div>
                                        <textarea formControlName="txtDescripcion" name="descripcion" id="descripcion"
                                            placeholder="Frase para encontrar el libro" required
                                            #descripcion></textarea>
                                        <div class="invalid-feedback">
                                            <div>La frase del libro es obligatoria</div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="contenedor-boton">
                                    <button class="boton" type="submit">Guardar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" title="Modificar lugar" src="..\assets\icons\new-arrow_back.svg" id="back"
        alt="back"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-login class="desktop-footer desktop"></app-footer-login>
</div>