/* * {
    margin: 0;
    padding: 0;

}

app-header-favoritos{
    height: 10%;
    background-color: #388E3C;

}

#contenedor {
    background-color: #F7F9C1;
    height: 100%;
    margin-top: 10%;
    overflow-y: scroll;
    justify-items: center;

}

.content{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.espacio{
    padding-top: 5%;
}

.subirImagen {
    display: none;
    width: 45%;
    height: 20%;
    padding: 10px;
    margin: 0 auto;
    border: 10px solid #B9BB91;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.404);
}

img{
    width: 1.5vw;
    height: 20%;
    text-align: left;
    filter: invert(100%) sepia(1%) saturate(6326%) hue-rotate(94deg) brightness(112%) contrast(100%);
}

.info{
    align-items: center;
}

.formulario {
    width: 45%;
    height: 14%;
    margin: 0 auto;
    border: 10px solid #B9BB91;
    border-top: none;
    background-color: #B9BB91;
}

.form-group{
    text-align: right;
}

input, textarea{
    background-color: rgb(255, 255, 255);

    color: white;
    resize: none;
    text-align: center;
}

.form-control::placeholder {
    color: White;
    opacity: 1;
    text-align: left;
}

.negrita::placeholder{
    font-weight: bold;
}

.form-control:active, .form-control:focus{
    background-color: rgb(255, 255, 255);
    border: 0.2vw solid #B9BB91;
    box-shadow: none;
    color: white;
}

.subirImagen h6{
    color: white;
    text-align: right;
    height: auto;
}

.desktop-row {
    width: 45%;
    margin: auto;
}

.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
  }
  
  .desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
  }

.col-desktop {
    padding-top: 5rem;
}

.nuevo-lugar {
    text-align: center;
    padding-right: 6px;
}

h6 {
}

.col {
    padding-bottom: 8px;
    color: #388E3C;
}

.col-1 {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
}

svg {
    margin: auto;
    width: 2vw;
    height: auto;
}

.prueba {
    margin: 0;
    width: 2vw;
    height: 2%;
}

.contenedor-boton{
    text-align: center;
    padding: 4vw;
}

.boton {
    background-color: #689F38;
    border: none;
    color: white;
    height: 15vw;
    width: 50vw;
}

.coordenada{
    display: none;   
}

.coordenada > div > label{
    display: block;
    text-align: center;
}


@media only screen and (min-width: 770px) {
    .mobile {
        display: none;
    }

    #contenedor {
        padding-top: 12%;
    }

    .espacio{
        padding-top: 0;
    }

    .formulario {
        width: 45%;
        height: auto;
        margin: 0 auto;
        border: 10px solid #B9BB91;
        border-top: none;
        background-color: #B9BB91;
    }

    .col-desktop{
        padding-top: 0;
    }
}

@media only screen and (max-width: 769px) {
    .desktop {
        display: none;
    }

    #contenedor {
        padding: 0;
    }

    #mapa {
        display: none;
    }

    .col-desktop {
        padding-top: 0;
    }

    .subirImagen {

        width: 40vw;
        height: 40vw;
        padding: 0;
        margin: 0 auto;
        border: none;
        border-radius: 25px;
        background-color: #27642A;
    }
    
    img{
        width: 12vw;
        height: 40%;
        text-align: center;
        filter: invert(53%) sepia(16%) saturate(249%) hue-rotate(189deg) brightness(97%) contrast(89%);
    }
    
    .info{
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    
    .formulario {
        width: 100%;
        height: 14vw;
        margin: 0 auto;
        margin-top: 2%;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .form-group{
        text-align: right;
    }
    
    input, textarea{
        background-color: rgb(255, 255, 255);
        border: 0.2vw solid #B9BB91;
        margin-top: 2vw;
        border-radius: 10px;
        color: #388E3C;
    }

    textarea{
        height: 40vw;
    }
    
    .form-control::placeholder {
        color:#388E3C;
        opacity: 1;
        text-align: center;
    }
    
    .negrita::placeholder{
        font-weight: bold;
    }
    
    .form-control:active, .form-control:focus{
        background-color: rgb(255, 255, 255);
        border: 0.2vw solid #B9BB91;
        box-shadow: none;
        color: #388E3C;
    }
    
    .subirImagen h6{
        display: none;
    }
} */

* {
    margin: 0;
    padding: 0;
}

app-header-favoritos {
    height: 10%;
    background-color: #388E3C;

}

.madre{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor {

    background-color: #F7F9C1;
    justify-content: center;
    align-content: center;
}


.subirImagen {
    width: 45%;
    height: 20%;
    padding: 10px;
    margin: 0 auto;
    border: 10px solid #B9BB91;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.404);
}

img {
    width: 1.5vw;
    height: 20%;
    text-align: left;
    filter: invert(100%) sepia(1%) saturate(6326%) hue-rotate(94deg) brightness(112%) contrast(100%);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.info-frase {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.info-nombre {
    padding-top: 3%;
    align-self: flex-start;
    padding-left: 10%;
    padding-bottom: 2%;
}

.info-input {

    padding-top: 3%;
    align-content: flex-end;
    width: 90%;

}

.info-input > input{

    width: 100%;
    padding: 4%;
}

h4 {
    font-weight: 600;
}

textarea {
    margin-top: 3%;
    width: 85vw;
    padding: 4%;
    resize: none;
}

.form-control::placeholder {

    opacity: 1;
}



.form-control:active,
.form-control:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: none;

}


.desktop-row {
    width: 45%;
    margin: auto;
}

.desktop-header,
.mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

.desktop-footer,
.mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}



svg {
    margin: auto;
    width: 2vw;
    height: auto;
}



.contenedor-boton {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton {
    background-color: #689F38;
    color: white;
    padding: 4%;
}

.coordenada {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.coordenada>div>label {
    display: block;
    text-align: center;
}


@media only screen and (min-width: 700px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width: 700px) {
    .desktop {
        display: none;
    }

    #mapa {
        display: none;
    }



    .subirImagen h6 {
        display: none;
    }
}