<div class="outletContent">
    <div class="title">
        <h2>Login</h2>
    </div>
    
    <div class="contenedor">
        <div class="formDiv">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formFlex">
                
                <input formControlName="txtEmail" type="email" placeholder="email">

                <div *ngIf="emailInvalid">
                    <div>Email invalid</div>
                </div>
                <div>
                    <input id="txtPassword" formControlName="txtPassword" type="password" style="margin-top: 20px;" placeholder="password">
                    <span toggle="#password-field" [ngClass]="isVisible" (click)="toggle()"></span>
                    <div *ngIf="passwordInvalid">
                        <div>Password invalid</div>
                    </div>
                    <div *ngIf="loginInvalid">
                        <div>Usuario o contraseña incorrectos</div>
                    </div>
                </div>
        
                <button type="submit" class="loginButton">Entrar</button>
        
                <h4 id="registerTitle"><a  routerLink="/register">Olvidaste la contraseña?</a></h4>
        
                <button type='button' id="registerButton" class="registerButton" routerLink="/register">Registrarse</button>
            </form>
        </div>       
        <div id="registerDiv" class="mobileRegister">
            <p><a class="forgotLink" routerLink="/forgot">¿Olvidaste la contraseña?</a> | <a class="registerLink" routerLink="/register">Registrarse</a></p>
        </div>
    </div>
    <div class="footer">
        <div class="child">
            <a routerLink="/nosotros">Sobre nosotros</a>
        </div>
    </div>
</div>

