<div class="outletContent">
    <div class="logo">
        <img src="../../../assets/pics/logo.png" alt="logo">
    </div>
    <div class="title">
        <h2>Login</h2>
    </div>

    <div class="contenedor">
        <div class="formDiv">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formFlex">

                <div class="inputDiv">
                    <div class="newInput">
                        <input formControlName="txtEmail" type="email" placeholder="Email">

                        <div *ngIf="emailInvalid">
                            <div>Email invalid</div>
                        </div>
                    </div>
                    
                </div>

                <div class="inputDiv">
                    <div class="newInput inputLow">
                      <input id="txtPassword" formControlName="txtPassword" type="password"
                        placeholder="Contraseña">
                    <span toggle="#password-field" [ngClass]="isVisible" (click)="toggle()"></span>  
                    </div>
                    
                    <div *ngIf="passwordInvalid">
                        <div>Password invalid</div>
                    </div>
                    <div *ngIf="loginInvalid" class="loginInvalid">
                        <div><h5>Usuario o contraseña incorrectos</h5></div>
                    </div>
                </div>

                <div class="contenedor-boton">
                    <button type="submit" class="loginButton">Entrar</button>

                </div>

                <h4 id="registerTitle"><a routerLink="/register">Olvidaste la contraseña?</a></h4>

                <button type='button' id="registerButton" class="registerButton"
                    routerLink="/register">Registrarse</button>
            </form>
        </div>
        <div id="registerDiv" class="mobileRegister">
            <h1><a class="forgotLink" routerLink="/forgot">¿Olvidaste la contraseña?</a></h1> 
            <h1><a> | </a></h1>
            <h1><a class="registerLink" routerLink="/register">Registrarse</a></h1>
        </div>
    </div>
</div>