* {
    margin: 0;
    padding: 0;
}

.outletContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
img{
    width: 40%;
}

.contenedor{
    padding-top: 10%;
}

.inputDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #979797;
    margin-top: 10px;
}

h1 > a{
    font-size: 2rem;
}

.field-icon {
    margin-left: -25px;
    margin-top: 2.8rem;
    position: relative;
    font-size: 2rem;
}

.forgotPassword{
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 15px;
    color: #979797;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}

.formDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formFlex {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}


input {
    background: #FFFFFF;


    font-family: Montserrat;
    font-style: normal;

    padding: 4%;
}

.loginButton {

    margin-top: 55px;
    align-items: center;
    width: 255px;
    height: 46px;

    /* Global/03. Success */

    background: rgba(40, 167, 69, 0.5);
    border: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
}

.registerButton {

    margin-top: 10px;
    align-items: center;
    width: 255px;
    height: 46px;

    /* Global/03. Success */

    background: rgba(40, 167, 69, 0.5);
    border: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mobileRegister {
    display: none;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.forgotLink{
    padding-right: 0%;
}
@media only screen and (max-width: 800px) {
    .formDiv {
        max-width: 50%;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .outletContent {
        /* margin-top: 10%; */
    }

    .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* max-width: 100%;
        min-height: 100%; */
    }

    .footer {
        display: none;
    }


}

@media only screen and (max-width: 800px) {
    .formDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 30%;
        min-height: 100%;
        align-content: center
    }

    .outletContent {
        /* margin-top: 13%; */
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-width: 100%;
        min-height: 100%; */
    }

    .title {
        /* margin-top: -90px; */
    }

    .mobileRegister {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .forgotLink {
        color: red;
    }

    #registerTitle {
        display: none;

    }

    #registerButton {
        display: none;
    }

    .registerLink {
        text-decoration: none;
        color: rgba(39, 100, 42, 1);
    }

    .loginButton {

        margin-top: 40px;
        align-items: center;
        width: 255px;
        height: 46px;


        background: rgba(104, 159, 56, 1);

        border: none;
        color: #FFFFFF;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
    }

    .footer {
        display: none;
    }


}