*{
    margin: 0px;
    padding: 0px;
}
.fondo{
    background-color: #388E3C;
    width: 100%;
    height: 10vh;
}

h3{
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 5vw;
    top: 3vh;
    padding-right: 20vw;
}

.col{
    color: white;
    text-align: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

p{
    font-size: 3.5vw;
    padding-right: 2vw;
    padding-top: 1.99vw;
}

.col-9{
    align-content: center;
    color: white;
    height: 100%;
}

span{
    margin: 0px;
}

svg{
    width: auto;
    height: 7vw;
}