<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="madre">
    <div class="contenedor">
        <div class="content">
            <div class="row izq">
                <div class="col-3">
                    <h4>Título</h4>
                </div>
                <div class="col">
                    <input type="text" placeholder="Rellenar Título">
                </div>
            </div>
            <div class="row izq">
                <div class="col-3">
                    <h4>Autor</h4>
                </div>
                <div class="col">
                    <input type="text" placeholder="Rellenar Autor">
                </div>
            </div>
            <div class="row izq">
                <div class="col-3">
                    <h4>Género</h4>
                </div>
                <div class="col">
                    <input type="text" placeholder="Rellenar Género">
                </div>
            </div>
        </div>
        <div class="description izq">
            <div class="descripcion">
              <h4>Descripción</h4>  
            </div>
            <div>
                <textarea id="w3review" class="rellenar" rows="12" cols="25" placeholder="Rellena con una descripción breve del libro."></textarea>
            </div> 
        </div>
        <div class="row">
            <button class="boton">Guardar</button>
        </div>
    </div>
  <app-header-nuevo-libro class="mobile mobile-header"></app-header-nuevo-libro>
  <!-- <app-header-principal class="mobile mobile-header"></app-header-principal> -->
  <app-footer class="desktop-header desktop"></app-footer>
  <app-footer class="mobile mobile-footer"></app-footer>
  <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>
