<div class="madre">
    <div class="contenedor">
        <div class="content">
            <div class="info">
                <div class="descripcion">
                    <h4>Título</h4>
                </div>
                <div class="info-input">
                    <input type="text" placeholder="Rellenar Título" #titulo>
                </div>
            </div>
            <div  class="info">
                <div class="descripcion">
                    <h4>Autor</h4>
                </div>
                <div class="info-input">
                    <input type="text" placeholder="Rellenar Autor" #autor>
                </div>
            </div>
            <div class="info">
                <div class="descripcion">
                    <h4>Género</h4>
                </div>
                <div class="info-input">
                    <select name="pets" id="pet-select" #genero>
                        <option value="">Selecciona el Género</option>
                        <option value="fantastica">Fantástica</option>
                        <option value="ficcion">Ficción</option>
                        <option value="suspenso">Suspenso</option>
                        <option value="drama">Drama</option>
                        <option value="accion">Acción</option>
                        <option value="aventura">Aventura</option>
                        <option value="romance">Romance</option>
                    </select>
                </div>
            </div>
            <div class="info">
                <div class="descripcion">
                    <h4>Imagen</h4>
                </div>
                <div class="info-input">
                    <input type="url" placeholder="https://imagen.com" #foto>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="descripcion">
              <h4>Descripción</h4>  
            </div>
            <div class="info-input">
                <textarea id="w3review" class="rellenar" rows="12" cols="25" placeholder="Rellena con una descripción breve del libro." #description></textarea>
            </div> 
        </div>
        <div class="contenedor-boton">
            <button class="boton" (click)="crearLibro(titulo.value, autor.value, foto.value, description.value, genero.value)">Guardar</button>
        </div>
    </div>
    <app-header-favoritos class="mobile mobile-header" title="Libro" src="..\assets\icons\new-arrow_back.svg"  id="back" alt="back"></app-header-favoritos>
    <app-footer class="desktop-header desktop"></app-footer>
    <app-footer class="mobile mobile-footer"></app-footer>
    <app-footer-login class="desktop-footer desktop"></app-footer-login>
</div>