  
* {
    margin: 0;
    padding: 0;
}

.contenedor {
    background-color: #F7F9C1;
    height: 80vh;
    margin-top: 10vh;
    overflow-y: scroll;
    justify-items: center;
}

.content{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.row{
    width: 100vw;
}

.col-3 > h4{
    align-self: center;
    font-size: 5vw;
    font-weight: 600;
    padding-top: 2.3vw;
}

.description {
    text-align: left;
    background-color: #F7F9C1;
}

.descripcion > h4{
    font-size: 5vw;
    font-weight: 600;
}

.descripcion{
    padding-bottom: 3vw;
}

.izq{
    padding-left: 7.5vw;
    padding-bottom: 3vw;
}

.rellenar {
    border: 0.2vw solid #B9BB91;
    border-radius: 10px;
    width: 85vw;
    padding: 2vw;
    resize: none;
    font-size: 4.5vw;
}

.boton {
    background-color: #689F38;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
    font-size: 25px;
}

/********************************************************/
.desktop-header, .mobile-header{
    position: fixed;
    top: 0;
    width: 100vw;
}

.desktop-footer, .mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

  @media only screen and (min-width: 770px) {
    .mobile{
      display: none;
    }
}

@media only screen and (max-width: 769px) {
  .desktop{
    display: none;
  }
}