<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="madre">
    <div class="contenedor">

    </div>
  <app-header-nuevo-libro class="mobile mobile-header"></app-header-nuevo-libro>
  <app-footer class="desktop-header desktop"></app-footer>
  <app-footer class="mobile mobile-footer"></app-footer>
  <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>
