
<div class="madre">
  <div>
      <div class="row">
          <div id="contenedor">
            <div class="content">
              <div class="busqueda">
                    <h3>Favoritos</h3>
              </div>
              <div class="container tarjetas" *ngFor="let vista of librosFav;">
                <div class="card" routerLink="/libros/detalle" (click)="sendValueIdDetail(vista.Titulo, vista.Autor, vista.Descripcion, vista.Foto, vista.libro_id)">
                  <div class="part2">
                    <div class="imagen">
                      <img [src]="vista.Foto" class="" alt="...">
                    </div>
                    <div class="description">
                      <div class="titulo">
                        <h4><b>{{vista.Titulo}}</b></h4>
                      </div>
                      <div class="descripcion">
                        <h4>{{vista.Descripcion}}</h4>
                      </div>
                      <div class="">
                        <div class="estrellas">
                          <ng-container *ngFor="let star of stars;">
                              <app-star [starId]="star" rating="{{vista.puntuacion}}"></app-star>
                          </ng-container>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          </div>
      </div>
  </div>
  <app-header-favoritos class="mobile mobile-header" title="Favoritos" src="..\assets\icons\new-arrow_back.svg" id="back" alt="back" id2="ocultar" id3="ocultar"></app-header-favoritos>
  <app-footer class="desktop-header desktop"></app-footer>
  <app-footer class="mobile mobile-footer"></app-footer>
  <app-footer-vacio class="desktop-footer desktop"></app-footer-vacio>

</div>
